{{ 'section-whif-recommendation.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}
<section
  data-test="page-section"
  data-section-theme="light-bold"
  class="
    page-section

      full-bleed-section
      layout-engine-section

    background-width--full-bleed


        section-height--custom



      content-width--wide

    horizontal-alignment--center
    vertical-alignment--middle




    light-bold
  "
  data-section-id="6845fb7114169f5614dfb07f"
  data-controller="SectionWrapperController"
  data-current-styles="
    {
    &quot;imageOverlayOpacity&quot;: 0.15,
    &quot;backgroundWidth&quot;: &quot;background-width--full-bleed&quot;,
    &quot;sectionHeight&quot;: &quot;section-height--custom&quot;,
    &quot;customSectionHeight&quot;: 0,
    &quot;horizontalAlignment&quot;: &quot;horizontal-alignment--center&quot;,
    &quot;verticalAlignment&quot;: &quot;vertical-alignment--middle&quot;,
    &quot;contentWidth&quot;: &quot;content-width--wide&quot;,
    &quot;customContentWidth&quot;: 50,
    &quot;sectionTheme&quot;: &quot;light-bold&quot;,
    &quot;sectionAnimation&quot;: &quot;none&quot;,
    &quot;backgroundMode&quot;: &quot;image&quot;
    }
  "
  data-current-context="
    {
    &quot;video&quot;: {
    &quot;playbackSpeed&quot;: 0.5,
    &quot;filter&quot;: 1,
    &quot;filterStrength&quot;: 0,
    &quot;zoom&quot;: 0,
    &quot;videoSourceProvider&quot;: &quot;none&quot;
    },
    &quot;backgroundImageId&quot;: null,
    &quot;backgroundMediaEffect&quot;: {
    &quot;type&quot;: &quot;none&quot;
    },
    &quot;divider&quot;: {
    &quot;enabled&quot;: false,
    &quot;type&quot;: &quot;jagged&quot;,
    &quot;width&quot;: {
    &quot;unit&quot;: &quot;vw&quot;,
    &quot;value&quot;: 100.0
    },
    &quot;height&quot;: {
    &quot;unit&quot;: &quot;vw&quot;,
    &quot;value&quot;: 6.0
    },
    &quot;isFlipX&quot;: true,
    &quot;isFlipY&quot;: true,
    &quot;offset&quot;: {
    &quot;unit&quot;: &quot;px&quot;,
    &quot;value&quot;: 0.0
    },
    &quot;stroke&quot;: {
    &quot;style&quot;: &quot;none&quot;,
    &quot;color&quot;: {
    &quot;type&quot;: &quot;THEME_COLOR&quot;
    },
    &quot;thickness&quot;: {
    &quot;unit&quot;: &quot;px&quot;,
    &quot;value&quot;: 6.0
    },
    &quot;dashLength&quot;: {
    &quot;unit&quot;: &quot;px&quot;,
    &quot;value&quot;: 5.0
    },
    &quot;gapLength&quot;: {
    &quot;unit&quot;: &quot;px&quot;,
    &quot;value&quot;: 15.0
    },
    &quot;linecap&quot;: &quot;square&quot;
    }
    },
    &quot;typeName&quot;: &quot;page&quot;
    }
  "
  data-animation="none"
  data-fluid-engine-section=""
  data-controllers-bound="SectionWrapperController,SectionWrapperController"
  id="yui_3_17_2_1_1759180599887_253"
  data-active="true"
>
  <div class="section-border">
    <div class="section-background"></div>
  </div>
  <div
    class="content-wrapper"
    style="




      padding-top: calc(0vmax / 10); padding-bottom: calc(0vmax / 10);
    "
    id="yui_3_17_2_1_1759180599887_252"
  >
    <div class="content" id="yui_3_17_2_1_1759180599887_251">
      <div data-fluid-engine="true" id="yui_3_17_2_1_1759180599887_250">
        <style>
          .fe-6845fb7114169f5614dfb07e {
            --grid-gutter: calc(var(--sqs-mobile-site-gutter, 6vw) - 11px);
            --cell-max-width: calc((var(--sqs-site-max-width, 1500px) - (11px * (8 - 1))) / 8);

            display: grid;
            position: relative;
            grid-area: 1/1/-1/-1;
            grid-template-rows: repeat(11, minmax(24px, auto));
            grid-template-columns:
              minmax(var(--grid-gutter), 1fr)
              repeat(8, minmax(0, var(--cell-max-width)))
              minmax(var(--grid-gutter), 1fr);
            row-gap: 11px;
            column-gap: 11px;
            overflow-x: hidden;
            overflow-x: clip;
          }

          @media (min-width: 768px) {
            .background-width--inset .fe-6845fb7114169f5614dfb07e {
              --inset-padding: calc(var(--sqs-site-gutter) * 2);
            }

            .fe-6845fb7114169f5614dfb07e {
              --grid-gutter: calc(var(--sqs-site-gutter, 4vw) - 11px);
              --cell-max-width: calc((var(--sqs-site-max-width, 1500px) - (11px * (24 - 1))) / 24);
              --inset-padding: 0vw;

              --row-height-scaling-factor: 0.0215;
              --container-width: min(
                var(--sqs-site-max-width, 1500px),
                calc(100vw - var(--sqs-site-gutter, 4vw) * 2 - var(--inset-padding))
              );

              grid-template-rows: repeat(
                15,
                minmax(calc(var(--container-width) * var(--row-height-scaling-factor)), auto)
              );
              grid-template-columns:
                minmax(var(--grid-gutter), 1fr)
                repeat(24, minmax(0, var(--cell-max-width)))
                minmax(var(--grid-gutter), 1fr);
            }
          }

          .fe-block-e114eed67609cb893348 {
            grid-area: 1/1/12/11;
            z-index: 0;

            @media (max-width: 767px) {
            }
          }

          .fe-block-e114eed67609cb893348 .sqs-block {
            justify-content: center;
          }

          .fe-block-e114eed67609cb893348 .sqs-block-alignment-wrapper {
            align-items: center;
          }

          @media (min-width: 768px) {
            .fe-block-e114eed67609cb893348 {
              grid-area: 1/14/16/27;
              z-index: 0;
            }

            .fe-block-e114eed67609cb893348 .sqs-block {
              justify-content: center;
            }

            .fe-block-e114eed67609cb893348 .sqs-block-alignment-wrapper {
              align-items: center;
            }
          }

          .fe-block-610fef78aa09f4ccdc97 {
            grid-area: 2/2/6/10;
            z-index: 4;

            @media (max-width: 767px) {
            }
          }

          .fe-block-610fef78aa09f4ccdc97 .sqs-block {
            justify-content: flex-start;
          }

          .fe-block-610fef78aa09f4ccdc97 .sqs-block-alignment-wrapper {
            align-items: flex-start;
          }

          @media (min-width: 768px) {
            .fe-block-610fef78aa09f4ccdc97 {
              grid-area: 3/2/8/12;
              z-index: 4;
            }

            .fe-block-610fef78aa09f4ccdc97 .sqs-block {
              justify-content: flex-start;
            }

            .fe-block-610fef78aa09f4ccdc97 .sqs-block-alignment-wrapper {
              align-items: flex-start;
            }
          }

          .fe-block-e44af96e40075f755df4 {
            grid-area: 5/2/7/10;
            z-index: 5;

            @media (max-width: 767px) {
            }
          }

          .fe-block-e44af96e40075f755df4 .sqs-block {
            justify-content: center;
          }

          .fe-block-e44af96e40075f755df4 .sqs-block-alignment-wrapper {
            align-items: center;
          }

          @media (min-width: 768px) {
            .fe-block-e44af96e40075f755df4 {
              grid-area: 8/2/10/14;
              z-index: 5;
            }

            .fe-block-e44af96e40075f755df4 .sqs-block {
              justify-content: flex-start;
            }

            .fe-block-e44af96e40075f755df4 .sqs-block-alignment-wrapper {
              align-items: flex-start;
            }
          }

          .fe-block-39fbae9ff4a1d59ba3cf {
            grid-area: 6/2/8/9;
            z-index: 6;

            @media (max-width: 767px) {
            }
          }

          .fe-block-39fbae9ff4a1d59ba3cf .sqs-block {
            justify-content: flex-end;
          }

          .fe-block-39fbae9ff4a1d59ba3cf .sqs-block-alignment-wrapper {
            align-items: flex-end;
          }

          @media (min-width: 768px) {
            .fe-block-39fbae9ff4a1d59ba3cf {
              grid-area: 9/2/12/12;
              z-index: 6;
            }

            .fe-block-39fbae9ff4a1d59ba3cf .sqs-block {
              justify-content: flex-start;
            }

            .fe-block-39fbae9ff4a1d59ba3cf .sqs-block-alignment-wrapper {
              align-items: flex-start;
            }
          }

          .fe-block-262de91c37031e994a60 {
            grid-area: 9/2/11/6;
            z-index: 3;

            @media (max-width: 767px) {
            }
          }

          .fe-block-262de91c37031e994a60 .sqs-block {
            justify-content: center;
          }

          .fe-block-262de91c37031e994a60 .sqs-block-alignment-wrapper {
            align-items: center;
          }

          @media (min-width: 768px) {
            .fe-block-262de91c37031e994a60 {
              grid-area: 12/2/14/6;
              z-index: 3;
            }

            .fe-block-262de91c37031e994a60 .sqs-block {
              justify-content: center;
            }

            .fe-block-262de91c37031e994a60 .sqs-block-alignment-wrapper {
              align-items: center;
            }
          }
        </style>
        <div class="fluid-engine fe-6845fb7114169f5614dfb07e" id="yui_3_17_2_1_1759180599887_249">
          <div class="fe-block fe-block-e114eed67609cb893348" id="yui_3_17_2_1_1759180599887_248">
            <div
              class="sqs-block image-block sqs-block-image sqs-stretched sqs-text-ready"
              data-aspect-ratio="117.61126270797615"
              data-block-type="5"
              data-sqsp-block="image"
              id="block-e114eed67609cb893348"
            >
              <div class="sqs-block-content" id="yui_3_17_2_1_1759180599887_247" style="height: 100%; width: 100%;">
                <div
                  class="image-block-outer-wrapper layout-caption-below design-layout-fluid image-position-center combination-animation-site-default individual-animation-site-default"
                  data-test="image-block-fluid-outer-wrapper"
                  id="yui_3_17_2_1_1759180599887_246"
                >
                  <div
                    class="fluid-image-animation-wrapper sqs-image sqs-block-alignment-wrapper preFade fadeIn"
                    data-animation-role="image"
                    id="yui_3_17_2_1_1759180599887_245"
                    style="transition-timing-function: ease; transition-duration: 0.9s; transition-delay: 0.282581s;"
                  >
                    <div
                      class="fluid-image-container sqs-image-content"
                      style="overflow: hidden;-webkit-mask-image: -webkit-radial-gradient(white, black);position: relative;width: 100%;height: 100%;"
                      data-sqsp-image-block-image-container=""
                      id="yui_3_17_2_1_1759180599887_244"
                    >
                      <div class="content-fill" id="yui_3_17_2_1_1759180599887_241">
                        <img
                          data-stretch="true"
                          data-src="https://images.squarespace-cdn.com/content/v1/67da0c2c5d3b414ebdd380a0/d2837a67-eb45-4b0a-a253-aca0bb577392/blotter.jpeg"
                          data-image="https://images.squarespace-cdn.com/content/v1/67da0c2c5d3b414ebdd380a0/d2837a67-eb45-4b0a-a253-aca0bb577392/blotter.jpeg"
                          data-image-dimensions="1080x1080"
                          data-image-focal-point="0.5,0.5"
                          alt="Multiple black packages with white text reading 'whiffed. AROMA' on a gradient background of purple, pink, and orange."
                          data-load="false"
                          elementtiming="system-image-block"
                          data-sqsp-image-block-image=""
                          src="./Whiffed Aromas _ Luxury Home and Commercial Scenting_files/blotter.jpeg"
                          width="1080"
                          height="1080"
                          sizes="100vw"
                          style="display:block;object-fit: cover; object-position: 50% 50%"
                          srcset="https://images.squarespace-cdn.com/content/v1/67da0c2c5d3b414ebdd380a0/d2837a67-eb45-4b0a-a253-aca0bb577392/blotter.jpeg?format=100w 100w, https://images.squarespace-cdn.com/content/v1/67da0c2c5d3b414ebdd380a0/d2837a67-eb45-4b0a-a253-aca0bb577392/blotter.jpeg?format=300w 300w, https://images.squarespace-cdn.com/content/v1/67da0c2c5d3b414ebdd380a0/d2837a67-eb45-4b0a-a253-aca0bb577392/blotter.jpeg?format=500w 500w, https://images.squarespace-cdn.com/content/v1/67da0c2c5d3b414ebdd380a0/d2837a67-eb45-4b0a-a253-aca0bb577392/blotter.jpeg?format=750w 750w, https://images.squarespace-cdn.com/content/v1/67da0c2c5d3b414ebdd380a0/d2837a67-eb45-4b0a-a253-aca0bb577392/blotter.jpeg?format=1000w 1000w, https://images.squarespace-cdn.com/content/v1/67da0c2c5d3b414ebdd380a0/d2837a67-eb45-4b0a-a253-aca0bb577392/blotter.jpeg?format=1500w 1500w, https://images.squarespace-cdn.com/content/v1/67da0c2c5d3b414ebdd380a0/d2837a67-eb45-4b0a-a253-aca0bb577392/blotter.jpeg?format=2500w 2500w"
                          loading="lazy"
                          decoding="async"
                          data-loader="sqs"
                        >

                        <div class="fluidImageOverlay"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <style>
                  .sqs-block-image .sqs-block-content {
                    height: 100%;
                    width: 100%;
                  }

                  .fe-block-e114eed67609cb893348 .fluidImageOverlay {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    mix-blend-mode: normal;

                    --image-block-overlay-color: hsla(var(--black-hsl), 0.33);

                    opacity: 1;
                  }
                </style>
              </div>
            </div>
          </div>
          <div class="fe-block fe-block-610fef78aa09f4ccdc97" style="mix-blend-mode: normal;">
            <div
              class="sqs-block html-block sqs-block-html"
              data-blend-mode="NORMAL"
              data-block-type="2"
              data-border-radii="{&quot;topLeft&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;value&quot;:0.0},&quot;topRight&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;value&quot;:0.0},&quot;bottomLeft&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;value&quot;:0.0},&quot;bottomRight&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;value&quot;:0.0}}"
              data-sqsp-block="text"
              id="block-610fef78aa09f4ccdc97"
            >
              <div class="sqs-block-content">
                <div class="sqs-html-content" data-sqsp-text-block-content="">
                  <h2
                    style="white-space: pre-wrap; transition-timing-function: ease; transition-duration: 0.9s; transition-delay: 0.286452s;"
                    class="preFade fadeIn"
                  >
                    <span class="sqsrte-text-color--white">not sure which scents to pick?</span>
                  </h2>
                </div>
              </div>
            </div>
          </div>
          <div class="fe-block fe-block-e44af96e40075f755df4" style="mix-blend-mode: normal;">
            <div
              class="sqs-block html-block sqs-block-html"
              data-blend-mode="NORMAL"
              data-block-type="2"
              data-border-radii="{&quot;topLeft&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;value&quot;:0.0},&quot;topRight&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;value&quot;:0.0},&quot;bottomLeft&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;value&quot;:0.0},&quot;bottomRight&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;value&quot;:0.0}}"
              data-sqsp-block="text"
              id="block-e44af96e40075f755df4"
            >
              <div class="sqs-block-content">
                <div class="sqs-html-content" data-sqsp-text-block-content="">
                  <h4
                    style="white-space: pre-wrap; transition-timing-function: ease; transition-duration: 0.9s; transition-delay: 0.290323s;"
                    class="preFade fadeIn"
                  >
                    Check out the blotter collection
                  </h4>
                </div>
              </div>
            </div>
          </div>
          <div class="fe-block fe-block-39fbae9ff4a1d59ba3cf" style="mix-blend-mode: normal;">
            <div
              class="sqs-block html-block sqs-block-html"
              data-blend-mode="NORMAL"
              data-block-type="2"
              data-border-radii="{&quot;topLeft&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;value&quot;:0.0},&quot;topRight&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;value&quot;:0.0},&quot;bottomLeft&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;value&quot;:0.0},&quot;bottomRight&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;value&quot;:0.0}}"
              data-sqsp-block="text"
              id="block-39fbae9ff4a1d59ba3cf"
            >
              <div class="sqs-block-content">
                <div class="sqs-html-content" data-sqsp-text-block-content="">
                  <pre><code>A flirty little library of our best-selling scents so you can sniff, swoon, and find your perfect match.</code></pre>
                </div>
              </div>
            </div>
          </div>
          <div class="fe-block fe-block-262de91c37031e994a60">
            <div
              class="sqs-block button-block sqs-block-button sqs-stretched"
              data-block-type="53"
              data-sqsp-block="button"
              id="block-262de91c37031e994a60"
            >
              <div class="sqs-block-content" id="yui_3_17_2_1_1759180599887_627">
                <div
                  class="sqs-block-button-container sqs-block-button-container--center preFade fadeIn"
                  data-animation-role="button"
                  data-alignment="center"
                  data-button-size="large"
                  data-button-type="secondary"
                  id="yui_3_17_2_1_1759180599887_626"
                  style="transition-timing-function: ease; transition-duration: 0.9s; transition-delay: 0.294194s;"
                >
                  <a
                    href="https://www.whiffedaromas.com/substances-oils/p/whiffer-scent-blotter-pack"
                    class="sqs-block-button-element--large sqs-button-element--secondary sqs-block-button-element"
                    data-sqsp-button=""
                    data-initialized="true"
                    tabindex="0"
                  >
                    Buy Pack
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  function getRecommendation() {
    const spaceType = document.querySelector('[data-question="space-type"]').value;
    const intensity = document.querySelector('[data-question="intensity"]').value;
    const resultDiv = document.getElementById('quiz-result');
    const contentDiv = document.getElementById('recommendation-content');

    if (spaceType && intensity) {
      let recommendation = '';

      if (spaceType === 'home' && intensity === 'light') {
        recommendation =
          'We recommend our Home Essential Collection with light, fresh scents perfect for daily living.';
      } else if (spaceType === 'office' && intensity === 'medium') {
        recommendation =
          'Our Professional Workspace Collection offers clean, energizing scents that enhance productivity.';
      } else if (spaceType === 'retail' && intensity === 'strong') {
        recommendation =
          'The Retail Signature Collection features bold, memorable scents that create lasting impressions.';
      } else {
        recommendation =
          'Based on your preferences, we recommend exploring our curated collections to find your perfect match.';
      }

      contentDiv.innerHTML = `<p>${recommendation}</p><a href="/collections/all" class="button button--secondary">Shop Recommended Products</a>`;
      resultDiv.style.display = 'block';
    } else {
      alert('Please answer all questions to get your recommendation.');
    }
  }
</script>

{% schema %}
{
  "name": "Whif Recommendations",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "inline_richtext",
      "id": "heading",
      "default": "Personalized Recommendations",
      "label": "Heading"
    },
    {
      "type": "richtext",
      "id": "description",
      "default": "<p>Discover products tailored to your preferences and needs.</p>",
      "label": "Description"
    },
    {
      "type": "collection",
      "id": "recommended_collection",
      "label": "Recommended products collection"
    },
    {
      "type": "range",
      "id": "products_to_show",
      "min": 2,
      "max": 8,
      "step": 1,
      "default": 4,
      "label": "Number of products to show"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color scheme",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "Section padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Top padding",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Bottom padding",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "recommendation_category",
      "name": "Recommendation Category",
      "limit": 4,
      "settings": [
        {
          "type": "image_picker",
          "id": "category_icon",
          "label": "Category icon"
        },
        {
          "type": "text",
          "id": "category_title",
          "default": "For Your Home",
          "label": "Category title"
        },
        {
          "type": "textarea",
          "id": "category_description",
          "default": "Perfect scents for creating a welcoming home environment.",
          "label": "Category description"
        },
        {
          "type": "collection",
          "id": "category_products",
          "label": "Category products"
        }
      ]
    },
    {
      "type": "quiz_prompt",
      "name": "Recommendation Quiz",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "quiz_title",
          "default": "Find Your Perfect Scent",
          "label": "Quiz title"
        },
        {
          "type": "textarea",
          "id": "quiz_description",
          "default": "Answer a few quick questions to get personalized product recommendations.",
          "label": "Quiz description"
        }
      ]
    },
    {
      "type": "button",
      "name": "Button",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "button_label",
          "default": "View All Recommendations",
          "label": "Button label"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button link"
        },
        {
          "type": "checkbox",
          "id": "button_style_secondary",
          "default": false,
          "label": "Use outline button style"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Whif Recommendations",
      "blocks": [
        {
          "type": "recommendation_category"
        },
        {
          "type": "quiz_prompt"
        },
        {
          "type": "button"
        }
      ]
    }
  ]
}
{% endschema %}
