{{ 'section-whif-bundle.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}
<section
  data-test="page-section"
  data-section-theme="white"
  class="
    page-section

      full-bleed-section
      layout-engine-section

    background-width--full-bleed

      section-height--medium


      content-width--wide

    horizontal-alignment--center
    vertical-alignment--middle




    white
  "
  data-section-id="6864a26121575a78d1f682a7"
  data-controller="SectionWrapperController"
  data-current-styles="
    {
    &quot;imageOverlayOpacity&quot;: 0.15,
    &quot;backgroundWidth&quot;: &quot;background-width--full-bleed&quot;,
    &quot;sectionHeight&quot;: &quot;section-height--medium&quot;,
    &quot;customSectionHeight&quot;: 10,
    &quot;horizontalAlignment&quot;: &quot;horizontal-alignment--center&quot;,
    &quot;verticalAlignment&quot;: &quot;vertical-alignment--middle&quot;,
    &quot;contentWidth&quot;: &quot;content-width--wide&quot;,
    &quot;customContentWidth&quot;: 50,
    &quot;sectionTheme&quot;: &quot;white&quot;,
    &quot;sectionAnimation&quot;: &quot;none&quot;,
    &quot;backgroundMode&quot;: &quot;image&quot;
    }
  "
  data-current-context="
    {
    &quot;video&quot;: {
    &quot;playbackSpeed&quot;: 1,
    &quot;filter&quot;: 1,
    &quot;filterStrength&quot;: 0,
    &quot;zoom&quot;: 0,
    &quot;videoSourceProvider&quot;: &quot;none&quot;
    },
    &quot;backgroundImageId&quot;: null,
    &quot;backgroundMediaEffect&quot;: {
    &quot;type&quot;: &quot;none&quot;
    },
    &quot;divider&quot;: {
    &quot;enabled&quot;: false
    },
    &quot;typeName&quot;: &quot;page&quot;
    }
  "
  data-animation="none"
  data-fluid-engine-section=""
  data-controllers-bound="SectionWrapperController,SectionWrapperController"
  id="yui_3_17_2_1_1759180599887_269"
  data-active="true"
>
  <div class="section-border">
    <div class="section-background"></div>
  </div>
  <div
    class="content-wrapper"
    style=""
    id="yui_3_17_2_1_1759180599887_268"
  >
    <div class="content" id="yui_3_17_2_1_1759180599887_267">
      <div data-fluid-engine="true" id="yui_3_17_2_1_1759180599887_266">
        <style>
          .fe-6864a262c282f3260a33b392 {
            --grid-gutter: calc(var(--sqs-mobile-site-gutter, 6vw) - 11px);
            --cell-max-width: calc((var(--sqs-site-max-width, 1500px) - (11px * (8 - 1))) / 8);

            display: grid;
            position: relative;
            grid-area: 1/1/-1/-1;
            grid-template-rows: repeat(37, minmax(24px, auto));
            grid-template-columns:
              minmax(var(--grid-gutter), 1fr)
              repeat(8, minmax(0, var(--cell-max-width)))
              minmax(var(--grid-gutter), 1fr);
            row-gap: 11px;
            column-gap: 11px;
            overflow-x: hidden;
            overflow-x: clip;
          }

          @media (min-width: 768px) {
            .background-width--inset .fe-6864a262c282f3260a33b392 {
              --inset-padding: calc(var(--sqs-site-gutter) * 2);
            }

            .fe-6864a262c282f3260a33b392 {
              --grid-gutter: calc(var(--sqs-site-gutter, 4vw) - 11px);
              --cell-max-width: calc((var(--sqs-site-max-width, 1500px) - (11px * (24 - 1))) / 24);
              --inset-padding: 0vw;

              --row-height-scaling-factor: 0.0215;
              --container-width: min(
                var(--sqs-site-max-width, 1500px),
                calc(100vw - var(--sqs-site-gutter, 4vw) * 2 - var(--inset-padding))
              );

              grid-template-rows: repeat(
                16,
                minmax(calc(var(--container-width) * var(--row-height-scaling-factor)), auto)
              );
              grid-template-columns:
                minmax(var(--grid-gutter), 1fr)
                repeat(24, minmax(0, var(--cell-max-width)))
                minmax(var(--grid-gutter), 1fr);
            }
          }

          .fe-block-c0742ef082dbe99aadc1 {
            grid-area: 1/2/13/10;
            z-index: 3;

            @media (max-width: 767px) {
            }
          }

          .fe-block-c0742ef082dbe99aadc1 .sqs-block {
            justify-content: center;
          }

          .fe-block-c0742ef082dbe99aadc1 .sqs-block-alignment-wrapper {
            align-items: center;
          }

          @media (min-width: 768px) {
            .fe-block-c0742ef082dbe99aadc1 {
              grid-area: 1/2/17/9;
              z-index: 3;
            }

            .fe-block-c0742ef082dbe99aadc1 .sqs-block {
              justify-content: center;
            }

            .fe-block-c0742ef082dbe99aadc1 .sqs-block-alignment-wrapper {
              align-items: center;
            }
          }

          .fe-block-yui_3_17_2_1_1751686488935_2750 {
            grid-area: 2/2/4/10;
            z-index: 9;

            @media (max-width: 767px) {
            }
          }

          .fe-block-yui_3_17_2_1_1751686488935_2750 .sqs-block {
            justify-content: flex-start;
          }

          .fe-block-yui_3_17_2_1_1751686488935_2750 .sqs-block-alignment-wrapper {
            align-items: flex-start;
          }

          @media (min-width: 768px) {
            .fe-block-yui_3_17_2_1_1751686488935_2750 {
              grid-area: 2/2/7/9;
              z-index: 9;
            }

            .fe-block-yui_3_17_2_1_1751686488935_2750 .sqs-block {
              justify-content: flex-start;
            }

            .fe-block-yui_3_17_2_1_1751686488935_2750 .sqs-block-alignment-wrapper {
              align-items: flex-start;
            }
          }

          .fe-block-yui_3_17_2_1_1751434627653_5324 {
            grid-area: 10/4/12/8;
            z-index: 4;

            @media (max-width: 767px) {
            }
          }

          .fe-block-yui_3_17_2_1_1751434627653_5324 .sqs-block {
            justify-content: center;
          }

          .fe-block-yui_3_17_2_1_1751434627653_5324 .sqs-block-alignment-wrapper {
            align-items: center;
          }

          @media (min-width: 768px) {
            .fe-block-yui_3_17_2_1_1751434627653_5324 {
              grid-area: 12/3/14/8;
              z-index: 4;
            }

            .fe-block-yui_3_17_2_1_1751434627653_5324 .sqs-block {
              justify-content: center;
            }

            .fe-block-yui_3_17_2_1_1751434627653_5324 .sqs-block-alignment-wrapper {
              align-items: center;
            }
          }

          .fe-block-e06d42c714a7fd8336c7 {
            grid-area: 14/2/26/10;
            z-index: 2;

            @media (max-width: 767px) {
            }
          }

          .fe-block-e06d42c714a7fd8336c7 .sqs-block {
            justify-content: center;
          }

          .fe-block-e06d42c714a7fd8336c7 .sqs-block-alignment-wrapper {
            align-items: center;
          }

          @media (min-width: 768px) {
            .fe-block-e06d42c714a7fd8336c7 {
              grid-area: 1/10/17/17;
              z-index: 2;
            }

            .fe-block-e06d42c714a7fd8336c7 .sqs-block {
              justify-content: center;
            }

            .fe-block-e06d42c714a7fd8336c7 .sqs-block-alignment-wrapper {
              align-items: center;
            }
          }

          .fe-block-b14313f8313979fe3d41 {
            grid-area: 15/2/17/10;
            z-index: 10;

            @media (max-width: 767px) {
            }
          }

          .fe-block-b14313f8313979fe3d41 .sqs-block {
            justify-content: flex-start;
          }

          .fe-block-b14313f8313979fe3d41 .sqs-block-alignment-wrapper {
            align-items: flex-start;
          }

          @media (min-width: 768px) {
            .fe-block-b14313f8313979fe3d41 {
              grid-area: 2/10/7/17;
              z-index: 10;
            }

            .fe-block-b14313f8313979fe3d41 .sqs-block {
              justify-content: flex-start;
            }

            .fe-block-b14313f8313979fe3d41 .sqs-block-alignment-wrapper {
              align-items: flex-start;
            }
          }

          .fe-block-9445f37ad297b6a7ea8e {
            grid-area: 23/4/25/8;
            z-index: 5;

            @media (max-width: 767px) {
            }
          }

          .fe-block-9445f37ad297b6a7ea8e .sqs-block {
            justify-content: center;
          }

          .fe-block-9445f37ad297b6a7ea8e .sqs-block-alignment-wrapper {
            align-items: center;
          }

          @media (min-width: 768px) {
            .fe-block-9445f37ad297b6a7ea8e {
              grid-area: 12/11/14/16;
              z-index: 5;
            }

            .fe-block-9445f37ad297b6a7ea8e .sqs-block {
              justify-content: center;
            }

            .fe-block-9445f37ad297b6a7ea8e .sqs-block-alignment-wrapper {
              align-items: center;
            }
          }

          .fe-block-85984dd8604145f7a532 {
            grid-area: 27/2/38/10;
            z-index: 3;

            @media (max-width: 767px) {
            }
          }

          .fe-block-85984dd8604145f7a532 .sqs-block {
            justify-content: center;
          }

          .fe-block-85984dd8604145f7a532 .sqs-block-alignment-wrapper {
            align-items: center;
          }

          @media (min-width: 768px) {
            .fe-block-85984dd8604145f7a532 {
              grid-area: 1/18/17/25;
              z-index: 3;
            }

            .fe-block-85984dd8604145f7a532 .sqs-block {
              justify-content: center;
            }

            .fe-block-85984dd8604145f7a532 .sqs-block-alignment-wrapper {
              align-items: center;
            }
          }

          .fe-block-5c8384a7bac0251c3001 {
            grid-area: 28/2/30/10;
            z-index: 11;

            @media (max-width: 767px) {
            }
          }

          .fe-block-5c8384a7bac0251c3001 .sqs-block {
            justify-content: flex-start;
          }

          .fe-block-5c8384a7bac0251c3001 .sqs-block-alignment-wrapper {
            align-items: flex-start;
          }

          @media (min-width: 768px) {
            .fe-block-5c8384a7bac0251c3001 {
              grid-area: 2/18/5/25;
              z-index: 11;
            }

            .fe-block-5c8384a7bac0251c3001 .sqs-block {
              justify-content: flex-start;
            }

            .fe-block-5c8384a7bac0251c3001 .sqs-block-alignment-wrapper {
              align-items: flex-start;
            }
          }

          .fe-block-3f9db994d1719aca20c1 {
            grid-area: 35/4/37/8;
            z-index: 5;

            @media (max-width: 767px) {
            }
          }

          .fe-block-3f9db994d1719aca20c1 .sqs-block {
            justify-content: center;
          }

          .fe-block-3f9db994d1719aca20c1 .sqs-block-alignment-wrapper {
            align-items: center;
          }

          @media (min-width: 768px) {
            .fe-block-3f9db994d1719aca20c1 {
              grid-area: 12/19/14/24;
              z-index: 5;
            }

            .fe-block-3f9db994d1719aca20c1 .sqs-block {
              justify-content: center;
            }

            .fe-block-3f9db994d1719aca20c1 .sqs-block-alignment-wrapper {
              align-items: center;
            }
          }
        </style>
        <div class="fluid-engine fe-6864a262c282f3260a33b392" id="yui_3_17_2_1_1759180599887_265">
          <div class="fe-block fe-block-c0742ef082dbe99aadc1" id="yui_3_17_2_1_1759180599887_264">
            <div
              class="sqs-block image-block sqs-block-image sqs-stretched sqs-text-ready"
              data-aspect-ratio="72.73986529983439"
              data-block-type="5"
              data-sqsp-block="image"
              id="block-c0742ef082dbe99aadc1"
            >
              <div class="sqs-block-content" id="yui_3_17_2_1_1759180599887_263" style="height: 100%; width: 100%;">
                <div
                  class="image-block-outer-wrapper layout-caption-below design-layout-fluid image-position-center combination-animation-site-default individual-animation-site-default sqs-narrow-width"
                  data-test="image-block-fluid-outer-wrapper"
                  id="yui_3_17_2_1_1759180599887_262"
                >
                  <div
                    class="fluid-image-animation-wrapper sqs-image sqs-block-alignment-wrapper preFade fadeIn"
                    data-animation-role="image"
                    id="yui_3_17_2_1_1759180599887_261"
                    style="transition-timing-function: ease; transition-duration: 0.9s; transition-delay: 0.298065s;"
                  >
                    <div
                      class="fluid-image-container sqs-image-content"
                      style="overflow: hidden;-webkit-mask-image: -webkit-radial-gradient(white, black);border-top-left-radius: 20px;border-top-right-radius: 20px;border-bottom-left-radius: 20px;border-bottom-right-radius: 20px;position: relative;width: 100%;height: 100%;"
                      data-sqsp-image-block-image-container=""
                      id="yui_3_17_2_1_1759180599887_260"
                    >
                      <div class="content-fill" id="yui_3_17_2_1_1759180599887_257">
                        <img
                          data-stretch="true"
                          data-src="https://images.squarespace-cdn.com/content/v1/67da0c2c5d3b414ebdd380a0/922ff6dd-885f-46d1-8a39-9460457de9fe/Sweet+On+Arrival+scent.png"
                          data-image="https://images.squarespace-cdn.com/content/v1/67da0c2c5d3b414ebdd380a0/922ff6dd-885f-46d1-8a39-9460457de9fe/Sweet+On+Arrival+scent.png"
                          data-image-dimensions="1024x1024"
                          data-image-focal-point="0.5,0.5"
                          alt="Lemons, mint leaves, flower, red berries, wood sticks, amber stones, and plant in a flat arrangement on green and pink fabric."
                          data-load="false"
                          elementtiming="system-image-block"
                          data-sqsp-image-block-image=""
                          src="./Whiffed Aromas _ Luxury Home and Commercial Scenting_files/Sweet+On+Arrival+scent.png"
                          width="1024"
                          height="1024"
                          sizes="100vw"
                          style="display:block;object-fit: cover; object-position: 50% 50%"
                          srcset="https://images.squarespace-cdn.com/content/v1/67da0c2c5d3b414ebdd380a0/922ff6dd-885f-46d1-8a39-9460457de9fe/Sweet+On+Arrival+scent.png?format=100w 100w, https://images.squarespace-cdn.com/content/v1/67da0c2c5d3b414ebdd380a0/922ff6dd-885f-46d1-8a39-9460457de9fe/Sweet+On+Arrival+scent.png?format=300w 300w, https://images.squarespace-cdn.com/content/v1/67da0c2c5d3b414ebdd380a0/922ff6dd-885f-46d1-8a39-9460457de9fe/Sweet+On+Arrival+scent.png?format=500w 500w, https://images.squarespace-cdn.com/content/v1/67da0c2c5d3b414ebdd380a0/922ff6dd-885f-46d1-8a39-9460457de9fe/Sweet+On+Arrival+scent.png?format=750w 750w, https://images.squarespace-cdn.com/content/v1/67da0c2c5d3b414ebdd380a0/922ff6dd-885f-46d1-8a39-9460457de9fe/Sweet+On+Arrival+scent.png?format=1000w 1000w, https://images.squarespace-cdn.com/content/v1/67da0c2c5d3b414ebdd380a0/922ff6dd-885f-46d1-8a39-9460457de9fe/Sweet+On+Arrival+scent.png?format=1500w 1500w, https://images.squarespace-cdn.com/content/v1/67da0c2c5d3b414ebdd380a0/922ff6dd-885f-46d1-8a39-9460457de9fe/Sweet+On+Arrival+scent.png?format=2500w 2500w"
                          loading="lazy"
                          decoding="async"
                          data-loader="sqs"
                        >

                        <div class="fluidImageOverlay"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <style>
                  .sqs-block-image .sqs-block-content {
                    height: 100%;
                    width: 100%;
                  }

                  .fe-block-c0742ef082dbe99aadc1 .fluidImageOverlay {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    mix-blend-mode: normal;

                    opacity: 0;
                  }
                </style>
              </div>
            </div>
          </div>
          <div class="fe-block fe-block-yui_3_17_2_1_1751686488935_2750" style="mix-blend-mode: normal;">
            <div
              class="sqs-block html-block sqs-block-html"
              data-blend-mode="NORMAL"
              data-block-type="2"
              data-border-radii="{&quot;topLeft&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;value&quot;:0.0},&quot;topRight&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;value&quot;:0.0},&quot;bottomLeft&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;value&quot;:0.0},&quot;bottomRight&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;value&quot;:0.0}}"
              data-sqsp-block="text"
              id="block-yui_3_17_2_1_1751686488935_2750"
            >
              <div class="sqs-block-content">
                <div class="sqs-html-content" data-sqsp-text-block-content="">
                  <h3
                    style="text-align: center; white-space: pre-wrap; transition-timing-function: ease; transition-duration: 0.9s; transition-delay: 0.301935s;"
                    class="preFade fadeIn"
                  >
                    <span class="sqsrte-text-color--white"
                      ><strong
                        >Best Seller<br>
                        Luxury Oil &amp; Scents</strong
                      ></span
                    >
                  </h3>
                </div>
              </div>
            </div>
          </div>
          <div class="fe-block fe-block-yui_3_17_2_1_1751434627653_5324">
            <div
              class="sqs-block button-block sqs-block-button sqs-stretched"
              data-block-type="53"
              data-sqsp-block="button"
              id="block-yui_3_17_2_1_1751434627653_5324"
            >
              <div class="sqs-block-content" id="yui_3_17_2_1_1759180599887_634">
                <div
                  class="sqs-block-button-container sqs-block-button-container--center preFade fadeIn"
                  data-animation-role="button"
                  data-alignment="center"
                  data-button-size="large"
                  data-button-type="secondary"
                  id="yui_3_17_2_1_1759180599887_633"
                  style="transition-timing-function: ease; transition-duration: 0.9s; transition-delay: 0.305806s;"
                >
                  <a
                    href="https://www.whiffedaromas.com/substances-oils"
                    class="sqs-block-button-element--large sqs-button-element--secondary sqs-block-button-element"
                    data-sqsp-button=""
                    data-initialized="true"
                    tabindex="0"
                  >
                    Shop Oils
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="fe-block fe-block-e06d42c714a7fd8336c7" id="yui_3_17_2_1_1759180599887_280">
            <div
              class="sqs-block image-block sqs-block-image sqs-stretched sqs-text-ready"
              data-aspect-ratio="72.73986529983439"
              data-block-type="5"
              data-sqsp-block="image"
              id="block-e06d42c714a7fd8336c7"
            >
              <div class="sqs-block-content" id="yui_3_17_2_1_1759180599887_279" style="height: 100%; width: 100%;">
                <div
                  class="image-block-outer-wrapper layout-caption-below design-layout-fluid image-position-center combination-animation-site-default individual-animation-site-default sqs-narrow-width"
                  data-test="image-block-fluid-outer-wrapper"
                  id="yui_3_17_2_1_1759180599887_278"
                >
                  <div
                    class="fluid-image-animation-wrapper sqs-image sqs-block-alignment-wrapper preFade fadeIn"
                    data-animation-role="image"
                    id="yui_3_17_2_1_1759180599887_277"
                    style="transition-timing-function: ease; transition-duration: 0.9s; transition-delay: 0.309677s;"
                  >
                    <div
                      class="fluid-image-container sqs-image-content"
                      style="overflow: hidden;-webkit-mask-image: -webkit-radial-gradient(white, black);border-top-left-radius: 20px;border-top-right-radius: 20px;border-bottom-left-radius: 20px;border-bottom-right-radius: 20px;position: relative;width: 100%;height: 100%;"
                      data-sqsp-image-block-image-container=""
                      id="yui_3_17_2_1_1759180599887_276"
                    >
                      <div class="content-fill" id="yui_3_17_2_1_1759180599887_273">
                        <img
                          data-stretch="true"
                          data-src="https://images.squarespace-cdn.com/content/v1/67da0c2c5d3b414ebdd380a0/d050ac4b-5dbd-4a1f-ba63-55fb8e0038f4/The+Mobile+One.jpeg"
                          data-image="https://images.squarespace-cdn.com/content/v1/67da0c2c5d3b414ebdd380a0/d050ac4b-5dbd-4a1f-ba63-55fb8e0038f4/The+Mobile+One.jpeg"
                          data-image-dimensions="2016x2016"
                          data-image-focal-point="0.5,0.5"
                          alt="A sleek black aroma diffuser with purple light on top, emitting vapor against a dark background."
                          data-load="false"
                          elementtiming="system-image-block"
                          data-sqsp-image-block-image=""
                          src="./Whiffed Aromas _ Luxury Home and Commercial Scenting_files/The+Mobile+One.jpeg"
                          width="2016"
                          height="2016"
                          sizes="100vw"
                          style="display:block;object-fit: cover; object-position: 50% 50%"
                          srcset="https://images.squarespace-cdn.com/content/v1/67da0c2c5d3b414ebdd380a0/d050ac4b-5dbd-4a1f-ba63-55fb8e0038f4/The+Mobile+One.jpeg?format=100w 100w, https://images.squarespace-cdn.com/content/v1/67da0c2c5d3b414ebdd380a0/d050ac4b-5dbd-4a1f-ba63-55fb8e0038f4/The+Mobile+One.jpeg?format=300w 300w, https://images.squarespace-cdn.com/content/v1/67da0c2c5d3b414ebdd380a0/d050ac4b-5dbd-4a1f-ba63-55fb8e0038f4/The+Mobile+One.jpeg?format=500w 500w, https://images.squarespace-cdn.com/content/v1/67da0c2c5d3b414ebdd380a0/d050ac4b-5dbd-4a1f-ba63-55fb8e0038f4/The+Mobile+One.jpeg?format=750w 750w, https://images.squarespace-cdn.com/content/v1/67da0c2c5d3b414ebdd380a0/d050ac4b-5dbd-4a1f-ba63-55fb8e0038f4/The+Mobile+One.jpeg?format=1000w 1000w, https://images.squarespace-cdn.com/content/v1/67da0c2c5d3b414ebdd380a0/d050ac4b-5dbd-4a1f-ba63-55fb8e0038f4/The+Mobile+One.jpeg?format=1500w 1500w, https://images.squarespace-cdn.com/content/v1/67da0c2c5d3b414ebdd380a0/d050ac4b-5dbd-4a1f-ba63-55fb8e0038f4/The+Mobile+One.jpeg?format=2500w 2500w"
                          loading="lazy"
                          decoding="async"
                          data-loader="sqs"
                        >

                        <div class="fluidImageOverlay"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <style>
                  .sqs-block-image .sqs-block-content {
                    height: 100%;
                    width: 100%;
                  }

                  .fe-block-e06d42c714a7fd8336c7 .fluidImageOverlay {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    mix-blend-mode: normal;

                    opacity: 0;
                  }
                </style>
              </div>
            </div>
          </div>
          <div class="fe-block fe-block-b14313f8313979fe3d41" style="mix-blend-mode: normal;">
            <div
              class="sqs-block html-block sqs-block-html"
              data-blend-mode="NORMAL"
              data-block-type="2"
              data-border-radii="{&quot;topLeft&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;value&quot;:0.0},&quot;topRight&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;value&quot;:0.0},&quot;bottomLeft&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;value&quot;:0.0},&quot;bottomRight&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;value&quot;:0.0}}"
              data-sqsp-block="text"
              id="block-b14313f8313979fe3d41"
            >
              <div class="sqs-block-content">
                <div class="sqs-html-content" data-sqsp-text-block-content="">
                  <h3
                    style="text-align: center; white-space: pre-wrap; transition-timing-function: ease; transition-duration: 0.9s; transition-delay: 0.313548s;"
                    class="preFade fadeIn"
                  >
                    <span class="sqsrte-text-color--white"
                      ><strong
                        >Staff Favorite<br>
                        Sleek scent mAchines</strong
                      ></span
                    >
                  </h3>
                </div>
              </div>
            </div>
          </div>
          <div class="fe-block fe-block-9445f37ad297b6a7ea8e">
            <div
              class="sqs-block button-block sqs-block-button sqs-stretched"
              data-block-type="53"
              data-sqsp-block="button"
              id="block-9445f37ad297b6a7ea8e"
            >
              <div class="sqs-block-content" id="yui_3_17_2_1_1759180599887_641">
                <div
                  class="sqs-block-button-container sqs-block-button-container--center preFade fadeIn"
                  data-animation-role="button"
                  data-alignment="center"
                  data-button-size="large"
                  data-button-type="secondary"
                  id="yui_3_17_2_1_1759180599887_640"
                  style="transition-timing-function: ease; transition-duration: 0.9s; transition-delay: 0.317419s;"
                >
                  <a
                    href="https://www.whiffedaromas.com/machines-diffusers"
                    class="sqs-block-button-element--large sqs-button-element--secondary sqs-block-button-element"
                    data-sqsp-button=""
                    data-initialized="true"
                    tabindex="0"
                  >
                    Explore Machines
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="fe-block fe-block-85984dd8604145f7a532" id="yui_3_17_2_1_1759180599887_291">
            <div
              class="sqs-block image-block sqs-block-image sqs-stretched sqs-text-ready"
              data-aspect-ratio="72.73986529983439"
              data-block-type="5"
              data-sqsp-block="image"
              id="block-85984dd8604145f7a532"
            >
              <div class="sqs-block-content" id="yui_3_17_2_1_1759180599887_290" style="height: 100%; width: 100%;">
                <div
                  class="image-block-outer-wrapper layout-caption-below design-layout-fluid image-position-center combination-animation-site-default individual-animation-site-default sqs-narrow-width"
                  data-test="image-block-fluid-outer-wrapper"
                  id="yui_3_17_2_1_1759180599887_289"
                >
                  <div
                    class="fluid-image-animation-wrapper sqs-image sqs-block-alignment-wrapper preFade fadeIn"
                    data-animation-role="image"
                    id="yui_3_17_2_1_1759180599887_288"
                    style="transition-timing-function: ease; transition-duration: 0.9s; transition-delay: 0.32129s;"
                  >
                    <div
                      class="fluid-image-container sqs-image-content"
                      style="overflow: hidden;-webkit-mask-image: -webkit-radial-gradient(white, black);border-top-left-radius: 20px;border-top-right-radius: 20px;border-bottom-left-radius: 20px;border-bottom-right-radius: 20px;position: relative;width: 100%;height: 100%;"
                      data-sqsp-image-block-image-container=""
                      id="yui_3_17_2_1_1759180599887_287"
                    >
                      <div class="content-fill" id="yui_3_17_2_1_1759180599887_284">
                        <img
                          data-stretch="true"
                          data-src="https://images.squarespace-cdn.com/content/v1/67da0c2c5d3b414ebdd380a0/4fb9837f-2246-4265-849b-fa4daf926fd5/collection+with+effect.jpeg"
                          data-image="https://images.squarespace-cdn.com/content/v1/67da0c2c5d3b414ebdd380a0/4fb9837f-2246-4265-849b-fa4daf926fd5/collection+with+effect.jpeg"
                          data-image-dimensions="2400x2400"
                          data-image-focal-point="0.5,0.5"
                          alt="Collection of black and white cylindrical and rectangular electronic devices on a reflective marble surface with light and shadow patterns on a white wall background."
                          data-load="false"
                          elementtiming="system-image-block"
                          data-sqsp-image-block-image=""
                          src="./Whiffed Aromas _ Luxury Home and Commercial Scenting_files/collection+with+effect.jpeg"
                          width="2400"
                          height="2400"
                          sizes="100vw"
                          style="display:block;object-fit: cover; object-position: 50% 50%"
                          srcset="https://images.squarespace-cdn.com/content/v1/67da0c2c5d3b414ebdd380a0/4fb9837f-2246-4265-849b-fa4daf926fd5/collection+with+effect.jpeg?format=100w 100w, https://images.squarespace-cdn.com/content/v1/67da0c2c5d3b414ebdd380a0/4fb9837f-2246-4265-849b-fa4daf926fd5/collection+with+effect.jpeg?format=300w 300w, https://images.squarespace-cdn.com/content/v1/67da0c2c5d3b414ebdd380a0/4fb9837f-2246-4265-849b-fa4daf926fd5/collection+with+effect.jpeg?format=500w 500w, https://images.squarespace-cdn.com/content/v1/67da0c2c5d3b414ebdd380a0/4fb9837f-2246-4265-849b-fa4daf926fd5/collection+with+effect.jpeg?format=750w 750w, https://images.squarespace-cdn.com/content/v1/67da0c2c5d3b414ebdd380a0/4fb9837f-2246-4265-849b-fa4daf926fd5/collection+with+effect.jpeg?format=1000w 1000w, https://images.squarespace-cdn.com/content/v1/67da0c2c5d3b414ebdd380a0/4fb9837f-2246-4265-849b-fa4daf926fd5/collection+with+effect.jpeg?format=1500w 1500w, https://images.squarespace-cdn.com/content/v1/67da0c2c5d3b414ebdd380a0/4fb9837f-2246-4265-849b-fa4daf926fd5/collection+with+effect.jpeg?format=2500w 2500w"
                          loading="lazy"
                          decoding="async"
                          data-loader="sqs"
                        >

                        <div class="fluidImageOverlay"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <style>
                  .sqs-block-image .sqs-block-content {
                    height: 100%;
                    width: 100%;
                  }

                  .fe-block-85984dd8604145f7a532 .fluidImageOverlay {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    mix-blend-mode: normal;

                    opacity: 0;
                  }
                </style>
              </div>
            </div>
          </div>
          <div class="fe-block fe-block-5c8384a7bac0251c3001" style="mix-blend-mode: normal;">
            <div
              class="sqs-block html-block sqs-block-html"
              data-blend-mode="NORMAL"
              data-block-type="2"
              data-border-radii="{&quot;topLeft&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;value&quot;:0.0},&quot;topRight&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;value&quot;:0.0},&quot;bottomLeft&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;value&quot;:0.0},&quot;bottomRight&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;value&quot;:0.0}}"
              data-sqsp-block="text"
              id="block-5c8384a7bac0251c3001"
            >
              <div class="sqs-block-content">
                <div class="sqs-html-content" data-sqsp-text-block-content="">
                  <h3
                    style="text-align: center; white-space: pre-wrap; transition-timing-function: ease; transition-duration: 0.9s; transition-delay: 0.325161s;"
                    class="preFade fadeIn"
                  >
                    <span class="sqsrte-text-color--white"
                      ><strong
                        >Limited Bundles<br>
                        Scents+ diffuser set</strong
                      ></span
                    >
                  </h3>
                </div>
              </div>
            </div>
          </div>
          <div class="fe-block fe-block-3f9db994d1719aca20c1">
            <div
              class="sqs-block button-block sqs-block-button sqs-stretched"
              data-block-type="53"
              data-sqsp-block="button"
              id="block-3f9db994d1719aca20c1"
            >
              <div class="sqs-block-content" id="yui_3_17_2_1_1759180599887_648">
                <div
                  class="sqs-block-button-container sqs-block-button-container--center preFade fadeIn"
                  data-animation-role="button"
                  data-alignment="center"
                  data-button-size="large"
                  data-button-type="secondary"
                  id="yui_3_17_2_1_1759180599887_647"
                  style="transition-timing-function: ease; transition-duration: 0.9s; transition-delay: 0.329032s;"
                >
                  <a
                    href="https://www.whiffedaromas.com/bundles"
                    class="sqs-block-button-element--large sqs-button-element--secondary sqs-block-button-element"
                    data-sqsp-button=""
                    data-initialized="true"
                    tabindex="0"
                  >
                    View Bundles
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Whif Bundle Section",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "inline_richtext",
      "id": "heading",
      "default": "Bundle & Save",
      "label": "Heading"
    },
    {
      "type": "richtext",
      "id": "description",
      "default": "<p>Get more value with our carefully curated product bundles.</p>",
      "label": "Description"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color scheme",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "Section padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Top padding",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Bottom padding",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "bundle_offer",
      "name": "Bundle Offer",
      "limit": 4,
      "settings": [
        {
          "type": "image_picker",
          "id": "bundle_image",
          "label": "Bundle image"
        },
        {
          "type": "text",
          "id": "bundle_badge",
          "default": "Best Value",
          "label": "Bundle badge"
        },
        {
          "type": "text",
          "id": "bundle_title",
          "default": "Starter Bundle",
          "label": "Bundle title"
        },
        {
          "type": "textarea",
          "id": "bundle_description",
          "default": "Everything you need to get started with scenting.",
          "label": "Bundle description"
        },
        {
          "type": "product",
          "id": "bundle_product_1",
          "label": "Bundle product 1"
        },
        {
          "type": "product",
          "id": "bundle_product_2",
          "label": "Bundle product 2"
        },
        {
          "type": "product",
          "id": "bundle_product_3",
          "label": "Bundle product 3"
        },
        {
          "type": "text",
          "id": "original_price",
          "label": "Original price",
          "info": "e.g., $299.99"
        },
        {
          "type": "text",
          "id": "bundle_price",
          "label": "Bundle price",
          "info": "e.g., $249.99"
        },
        {
          "type": "text",
          "id": "savings_amount",
          "label": "Savings amount",
          "info": "e.g., $50.00"
        },
        {
          "type": "url",
          "id": "bundle_link",
          "label": "Bundle link"
        },
        {
          "type": "text",
          "id": "button_text",
          "default": "Shop Bundle",
          "label": "Button text"
        }
      ]
    },
    {
      "type": "bundle_benefits",
      "name": "Bundle Benefits",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "benefits_title",
          "default": "Why Choose Bundles?",
          "label": "Benefits title"
        },
        {
          "type": "text",
          "id": "benefit_1",
          "default": "Save up to 25% compared to individual purchases",
          "label": "Benefit 1"
        },
        {
          "type": "text",
          "id": "benefit_2",
          "default": "Curated combinations that work perfectly together",
          "label": "Benefit 2"
        },
        {
          "type": "text",
          "id": "benefit_3",
          "default": "Free shipping on all bundle orders",
          "label": "Benefit 3"
        },
        {
          "type": "text",
          "id": "benefit_4",
          "default": "Extended warranty coverage",
          "label": "Benefit 4"
        }
      ]
    },
    {
      "type": "button",
      "name": "Button",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "button_label",
          "default": "View All Bundles",
          "label": "Button label"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button link"
        },
        {
          "type": "checkbox",
          "id": "button_style_secondary",
          "default": false,
          "label": "Use outline button style"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Whif Bundle Section",
      "blocks": [
        {
          "type": "bundle_offer"
        },
        {
          "type": "bundle_benefits"
        },
        {
          "type": "button"
        }
      ]
    }
  ]
}
{% endschema %}
