{{ 'section-whif-favorite.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<section
  data-test="page-section"
  data-section-theme="light-bold"
  class="
    page-section

      full-bleed-section
      layout-engine-section

    background-width--full-bleed


        section-height--custom



      content-width--wide

    horizontal-alignment--center
    vertical-alignment--middle




    light-bold
  "
  data-section-id="67dee5a0e9bcd6622bf300bb"
  data-controller="SectionWrapperController"
  data-current-styles="
    {
    &quot;imageOverlayOpacity&quot;: 0.0,
    &quot;backgroundWidth&quot;: &quot;background-width--full-bleed&quot;,
    &quot;sectionHeight&quot;: &quot;section-height--custom&quot;,
    &quot;customSectionHeight&quot;: 0,
    &quot;horizontalAlignment&quot;: &quot;horizontal-alignment--center&quot;,
    &quot;verticalAlignment&quot;: &quot;vertical-alignment--middle&quot;,
    &quot;contentWidth&quot;: &quot;content-width--wide&quot;,
    &quot;customContentWidth&quot;: 50,
    &quot;sectionTheme&quot;: &quot;light-bold&quot;,
    &quot;sectionAnimation&quot;: &quot;none&quot;,
    &quot;backgroundMode&quot;: &quot;image&quot;
    }
  "
  data-current-context="
    {
    &quot;video&quot;: {
    &quot;playbackSpeed&quot;: 0.5,
    &quot;filter&quot;: 1,
    &quot;filterStrength&quot;: 0,
    &quot;zoom&quot;: 0,
    &quot;videoSourceProvider&quot;: &quot;none&quot;
    },
    &quot;backgroundImageId&quot;: null,
    &quot;backgroundMediaEffect&quot;: {
    &quot;type&quot;: &quot;none&quot;
    },
    &quot;divider&quot;: {
    &quot;enabled&quot;: false,
    &quot;type&quot;: &quot;none&quot;,
    &quot;width&quot;: {
    &quot;unit&quot;: &quot;vw&quot;,
    &quot;value&quot;: 100.0
    },
    &quot;height&quot;: {
    &quot;unit&quot;: &quot;vw&quot;,
    &quot;value&quot;: 6.0
    },
    &quot;isFlipX&quot;: false,
    &quot;isFlipY&quot;: false,
    &quot;offset&quot;: {
    &quot;unit&quot;: &quot;px&quot;,
    &quot;value&quot;: 0.0
    },
    &quot;stroke&quot;: {
    &quot;style&quot;: &quot;none&quot;,
    &quot;color&quot;: {
    &quot;type&quot;: &quot;THEME_COLOR&quot;
    },
    &quot;thickness&quot;: {
    &quot;unit&quot;: &quot;px&quot;,
    &quot;value&quot;: 6.0
    },
    &quot;dashLength&quot;: {
    &quot;unit&quot;: &quot;px&quot;,
    &quot;value&quot;: 5.0
    },
    &quot;gapLength&quot;: {
    &quot;unit&quot;: &quot;px&quot;,
    &quot;value&quot;: 15.0
    },
    &quot;linecap&quot;: &quot;square&quot;
    }
    },
    &quot;typeName&quot;: &quot;page&quot;
    }
  "
  data-animation="none"
  data-fluid-engine-section=""
  data-controllers-bound="SectionWrapperController,SectionWrapperController"
  id="yui_3_17_2_1_1759180599887_378"
  data-active="true"
>
  <div class="section-border">
    <div class="section-background"></div>
  </div>
  <div
    class="content-wrapper"
    style="




      padding-top: calc(0vmax / 10); padding-bottom: calc(0vmax / 10);
    "
    id="yui_3_17_2_1_1759180599887_377"
  >
    <div class="content" id="yui_3_17_2_1_1759180599887_376">
      <div data-fluid-engine="true" id="yui_3_17_2_1_1759180599887_375">
        <style>
          .fe-67dee5a0e9bcd6622bf300ba {
            --grid-gutter: calc(var(--sqs-mobile-site-gutter, 6vw) - 0px);
            --cell-max-width: calc((var(--sqs-site-max-width, 1500px) - (0px * (8 - 1))) / 8);

            display: grid;
            position: relative;
            grid-area: 1/1/-1/-1;
            grid-template-rows: repeat(29, minmax(24px, auto));
            grid-template-columns:
              minmax(var(--grid-gutter), 1fr)
              repeat(8, minmax(0, var(--cell-max-width)))
              minmax(var(--grid-gutter), 1fr);
            row-gap: 0px;
            column-gap: 0px;
            overflow-x: hidden;
            overflow-x: clip;
          }

          @media (min-width: 768px) {
            .background-width--inset .fe-67dee5a0e9bcd6622bf300ba {
              --inset-padding: calc(var(--sqs-site-gutter) * 2);
            }

            .fe-67dee5a0e9bcd6622bf300ba {
              --grid-gutter: calc(var(--sqs-site-gutter, 4vw) - 0px);
              --cell-max-width: calc((var(--sqs-site-max-width, 1500px) - (0px * (24 - 1))) / 24);
              --inset-padding: 0vw;

              --row-height-scaling-factor: 0.0215;
              --container-width: min(
                var(--sqs-site-max-width, 1500px),
                calc(100vw - var(--sqs-site-gutter, 4vw) * 2 - var(--inset-padding))
              );

              grid-template-rows: repeat(
                18,
                minmax(calc(var(--container-width) * var(--row-height-scaling-factor)), auto)
              );
              grid-template-columns:
                minmax(var(--grid-gutter), 1fr)
                repeat(24, minmax(0, var(--cell-max-width)))
                minmax(var(--grid-gutter), 1fr);
            }
          }

          .fe-block-yui_3_17_2_1_1752063807129_239407 {
            grid-area: 1/1/14/11;
            z-index: 13;

            @media (max-width: 767px) {
            }
          }

          .fe-block-yui_3_17_2_1_1752063807129_239407 .sqs-block {
            justify-content: center;
          }

          .fe-block-yui_3_17_2_1_1752063807129_239407 .sqs-block-alignment-wrapper {
            align-items: center;
          }

          @media (min-width: 768px) {
            .fe-block-yui_3_17_2_1_1752063807129_239407 {
              grid-area: 1/2/19/14;
              z-index: 3;
            }

            .fe-block-yui_3_17_2_1_1752063807129_239407 .sqs-block {
              justify-content: center;
            }

            .fe-block-yui_3_17_2_1_1752063807129_239407 .sqs-block-alignment-wrapper {
              align-items: center;
            }
          }

          .fe-block-yui_3_17_2_1_1750302665817_402339 {
            grid-area: 16/2/18/10;
            z-index: 9;

            @media (max-width: 767px) {
            }
          }

          .fe-block-yui_3_17_2_1_1750302665817_402339 .sqs-block {
            justify-content: flex-start;
          }

          .fe-block-yui_3_17_2_1_1750302665817_402339 .sqs-block-alignment-wrapper {
            align-items: flex-start;
          }

          @media (min-width: 768px) {
            .fe-block-yui_3_17_2_1_1750302665817_402339 {
              grid-area: 3/15/5/25;
              z-index: 8;
            }

            .fe-block-yui_3_17_2_1_1750302665817_402339 .sqs-block {
              justify-content: flex-start;
            }

            .fe-block-yui_3_17_2_1_1750302665817_402339 .sqs-block-alignment-wrapper {
              align-items: flex-start;
            }
          }

          .fe-block-yui_3_17_2_1_1750302665817_23878 {
            grid-area: 18/2/19/10;
            z-index: 5;

            @media (max-width: 767px) {
            }
          }

          .fe-block-yui_3_17_2_1_1750302665817_23878 .sqs-block {
            justify-content: flex-start;
          }

          .fe-block-yui_3_17_2_1_1750302665817_23878 .sqs-block-alignment-wrapper {
            align-items: flex-start;
          }

          @media (min-width: 768px) {
            .fe-block-yui_3_17_2_1_1750302665817_23878 {
              grid-area: 5/15/7/21;
              z-index: 2;
            }

            .fe-block-yui_3_17_2_1_1750302665817_23878 .sqs-block {
              justify-content: center;
            }

            .fe-block-yui_3_17_2_1_1750302665817_23878 .sqs-block-alignment-wrapper {
              align-items: center;
            }
          }

          .fe-block-43e7e0a6221d22d11964 {
            grid-area: 19/2/20/10;
            z-index: 6;

            @media (max-width: 767px) {
            }
          }

          .fe-block-43e7e0a6221d22d11964 .sqs-block {
            justify-content: flex-start;
          }

          .fe-block-43e7e0a6221d22d11964 .sqs-block-alignment-wrapper {
            align-items: flex-start;
          }

          @media (min-width: 768px) {
            .fe-block-43e7e0a6221d22d11964 {
              grid-area: 7/15/8/21;
              z-index: 6;
            }

            .fe-block-43e7e0a6221d22d11964 .sqs-block {
              justify-content: center;
            }

            .fe-block-43e7e0a6221d22d11964 .sqs-block-alignment-wrapper {
              align-items: center;
            }
          }

          .fe-block-yui_3_17_2_1_1750302665817_285260 {
            grid-area: 20/2/21/10;
            z-index: 8;

            @media (max-width: 767px) {
            }
          }

          .fe-block-yui_3_17_2_1_1750302665817_285260 .sqs-block {
            justify-content: flex-start;
          }

          .fe-block-yui_3_17_2_1_1750302665817_285260 .sqs-block-alignment-wrapper {
            align-items: flex-start;
          }

          @media (min-width: 768px) {
            .fe-block-yui_3_17_2_1_1750302665817_285260 {
              grid-area: 9/15/10/21;
              z-index: 7;
            }

            .fe-block-yui_3_17_2_1_1750302665817_285260 .sqs-block {
              justify-content: flex-start;
            }

            .fe-block-yui_3_17_2_1_1750302665817_285260 .sqs-block-alignment-wrapper {
              align-items: flex-start;
            }
          }

          .fe-block-f7fb436307a70b1e7e5a {
            grid-area: 21/2/26/10;
            z-index: 12;

            @media (max-width: 767px) {
            }
          }

          .fe-block-f7fb436307a70b1e7e5a .sqs-block {
            justify-content: flex-end;
          }

          .fe-block-f7fb436307a70b1e7e5a .sqs-block-alignment-wrapper {
            align-items: flex-end;
          }

          @media (min-width: 768px) {
            .fe-block-f7fb436307a70b1e7e5a {
              grid-area: 10/15/15/24;
              z-index: 9;
            }

            .fe-block-f7fb436307a70b1e7e5a .sqs-block {
              justify-content: center;
            }

            .fe-block-f7fb436307a70b1e7e5a .sqs-block-alignment-wrapper {
              align-items: center;
            }
          }

          .fe-block-yui_3_17_2_1_1750302665817_27092 {
            grid-area: 26/2/28/6;
            z-index: 6;

            @media (max-width: 767px) {
            }
          }

          .fe-block-yui_3_17_2_1_1750302665817_27092 .sqs-block {
            justify-content: center;
          }

          .fe-block-yui_3_17_2_1_1750302665817_27092 .sqs-block-alignment-wrapper {
            align-items: center;
          }

          @media (min-width: 768px) {
            .fe-block-yui_3_17_2_1_1750302665817_27092 {
              grid-area: 15/15/17/19;
              z-index: 4;
            }

            .fe-block-yui_3_17_2_1_1750302665817_27092 .sqs-block {
              justify-content: center;
            }

            .fe-block-yui_3_17_2_1_1750302665817_27092 .sqs-block-alignment-wrapper {
              align-items: center;
            }
          }
        </style>
        <div class="fluid-engine fe-67dee5a0e9bcd6622bf300ba" id="yui_3_17_2_1_1759180599887_374">
          <div class="fe-block fe-block-yui_3_17_2_1_1752063807129_239407" id="yui_3_17_2_1_1759180599887_373">
            <div
              class="sqs-block image-block sqs-block-image sqs-stretched sqs-text-ready"
              data-aspect-ratio="75.54479418886199"
              data-block-type="5"
              data-sqsp-block="image"
              id="block-yui_3_17_2_1_1752063807129_239407"
            >
              <div class="sqs-block-content" id="yui_3_17_2_1_1759180599887_372" style="height: 100%; width: 100%;">
                <div
                  class="image-block-outer-wrapper layout-caption-below design-layout-fluid image-position-center combination-animation-site-default individual-animation-site-default"
                  data-test="image-block-fluid-outer-wrapper"
                  id="yui_3_17_2_1_1759180599887_371"
                >
                  <div
                    class="fluid-image-animation-wrapper sqs-image sqs-block-alignment-wrapper preFade fadeIn"
                    data-animation-role="image"
                    id="yui_3_17_2_1_1759180599887_370"
                    style="transition-timing-function: ease; transition-duration: 0.9s; transition-delay: 0.44129s;"
                  >
                    <div
                      class="fluid-image-container sqs-image-content"
                      style="overflow: hidden;-webkit-mask-image: -webkit-radial-gradient(white, black);position: relative;width: 100%;height: 100%;"
                      data-sqsp-image-block-image-container=""
                      id="yui_3_17_2_1_1759180599887_369"
                    >
                      <div class="content-fill" id="yui_3_17_2_1_1759180599887_366">
                        <img
                          data-stretch="true"
                          data-src="https://images.squarespace-cdn.com/content/v1/67da0c2c5d3b414ebdd380a0/9cba241e-5790-4dbf-9b7f-01ff67e6da04/The+Influencer+sunset.jpeg"
                          data-image="https://images.squarespace-cdn.com/content/v1/67da0c2c5d3b414ebdd380a0/9cba241e-5790-4dbf-9b7f-01ff67e6da04/The+Influencer+sunset.jpeg"
                          data-image-dimensions="2400x2400"
                          data-image-focal-point="0.5,0.5"
                          alt="A bottle of Whiffed Aromas fragrance labeled &quot;The Influencer&quot; placed on a surface at the beach during sunset, with the ocean and colorful sky in the background."
                          data-load="false"
                          elementtiming="system-image-block"
                          data-sqsp-image-block-image=""
                          src="./Whiffed Aromas _ Luxury Home and Commercial Scenting_files/The+Influencer+sunset.jpeg"
                          width="2400"
                          height="2400"
                          sizes="100vw"
                          style="display:block;object-fit: cover; object-position: 50% 50%"
                          srcset="https://images.squarespace-cdn.com/content/v1/67da0c2c5d3b414ebdd380a0/9cba241e-5790-4dbf-9b7f-01ff67e6da04/The+Influencer+sunset.jpeg?format=100w 100w, https://images.squarespace-cdn.com/content/v1/67da0c2c5d3b414ebdd380a0/9cba241e-5790-4dbf-9b7f-01ff67e6da04/The+Influencer+sunset.jpeg?format=300w 300w, https://images.squarespace-cdn.com/content/v1/67da0c2c5d3b414ebdd380a0/9cba241e-5790-4dbf-9b7f-01ff67e6da04/The+Influencer+sunset.jpeg?format=500w 500w, https://images.squarespace-cdn.com/content/v1/67da0c2c5d3b414ebdd380a0/9cba241e-5790-4dbf-9b7f-01ff67e6da04/The+Influencer+sunset.jpeg?format=750w 750w, https://images.squarespace-cdn.com/content/v1/67da0c2c5d3b414ebdd380a0/9cba241e-5790-4dbf-9b7f-01ff67e6da04/The+Influencer+sunset.jpeg?format=1000w 1000w, https://images.squarespace-cdn.com/content/v1/67da0c2c5d3b414ebdd380a0/9cba241e-5790-4dbf-9b7f-01ff67e6da04/The+Influencer+sunset.jpeg?format=1500w 1500w, https://images.squarespace-cdn.com/content/v1/67da0c2c5d3b414ebdd380a0/9cba241e-5790-4dbf-9b7f-01ff67e6da04/The+Influencer+sunset.jpeg?format=2500w 2500w"
                          loading="lazy"
                          decoding="async"
                          data-loader="sqs"
                        >

                        <div class="fluidImageOverlay"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <style>
                  .sqs-block-image .sqs-block-content {
                    height: 100%;
                    width: 100%;
                  }

                  .fe-block-yui_3_17_2_1_1752063807129_239407 .fluidImageOverlay {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    mix-blend-mode: normal;

                    opacity: 0;
                  }
                </style>
              </div>
            </div>
          </div>
          <div class="fe-block fe-block-yui_3_17_2_1_1750302665817_402339" style="mix-blend-mode: normal;">
            <div
              class="sqs-block html-block sqs-block-html"
              data-blend-mode="NORMAL"
              data-block-type="2"
              data-border-radii="{&quot;topLeft&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;value&quot;:0.0},&quot;topRight&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;value&quot;:0.0},&quot;bottomLeft&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;value&quot;:0.0},&quot;bottomRight&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;value&quot;:0.0}}"
              data-sqsp-block="text"
              id="block-yui_3_17_2_1_1750302665817_402339"
            >
              <div class="sqs-block-content" style="position: relative; z-index: 0;">
                <script class="TextAttributes-props" type="application/json">
                  [
                    {
                      "type": "highlight",
                      "id": "17a89d8c-2d8c-4728-9228-d84583dc3e62",
                      "shape": "scribble",
                      "isFront": false,
                      "isAnimationEnabled": false,
                      "animation": "draw",
                      "duration": 0.5,
                      "direction": "right",
                      "color": {
                        "type": "SITE_PALETTE_COLOR",
                        "sitePaletteColor": {
                          "colorName": "accent",
                          "alphaModifier": 1.0
                        }
                      },
                      "thickness": {
                        "unit": "em",
                        "value": 0.05
                      },
                      "linecap": "square"
                    }
                  ]
                </script>

                <div class="sqs-html-content" data-sqsp-text-block-content="">
                  <h3
                    style="white-space: pre-wrap; transition-timing-function: ease; transition-duration: 0.9s; transition-delay: 0.445161s;"
                    class="preFade fadeIn"
                  >
                    <span class="sqsrte-text-highlight" data-text-attribute-id="17a89d8c-2d8c-4728-9228-d84583dc3e62"
                      >whiffers’ favorite</span
                    >
                  </h3>
                </div>

                <div
                  class="TextShape-node"
                  data-text-attribute-id="17a89d8c-2d8c-4728-9228-d84583dc3e62"
                  data-shape="scribble"
                  data-font-size="57"
                  data-is-front="false"
                  data-index="0"
                  style="font-size: 57px; --stroke: hsla(var(--accent-hsl),1); --stroke-width: 0.05em; --stroke-linecap: square; --stroke-linejoin: bevel; --blend: none; --opacity: undefined; opacity: 1; transform: scale(1); width: 334px; height: 65px; left: -6px; top: -6px;"
                >
                  <svg>
                    <path d="M 0,57.2 c 25.05,-0.292500000000004 116.89999999999999,-2.144999999999989 167,-1.9500000000000028 c 50.10000000000002,0.19500000000000028 161.99,3.25 167,3.25 c 5.009999999999991,0 -88.50999999999999,-3.7375000000000043 -133.6,-3.25 c -45.09,0.48750000000000426 -161.99,5.719999999999999 -167,6.5 c -5.010000000000002,0.7800000000000011 98.53,-1.29999999999999 133.6,-1.2999999999999972 c 35.06999999999999,0 100.19999999999999,0.6174999999999997 100.19999999999999,1.2999999999999972 c 0,0.6824999999999974 -75.14999999999998,2.762500000000003 -100.19999999999999,3.25 c -25.05000000000001,0.48749999999999716 -56.78,0 -66.8,0" vector-effect="non-scaling-stroke" stroke-dasharray="1037" stroke-dashoffset="2074"></path>
                  </svg>
                </div>
              </div>
            </div>
          </div>
          <div class="fe-block fe-block-yui_3_17_2_1_1750302665817_23878" style="mix-blend-mode: normal;">
            <div
              class="sqs-block html-block sqs-block-html"
              data-blend-mode="NORMAL"
              data-block-type="2"
              data-border-radii="{&quot;topLeft&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;value&quot;:0.0},&quot;topRight&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;value&quot;:0.0},&quot;bottomLeft&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;value&quot;:0.0},&quot;bottomRight&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;value&quot;:0.0}}"
              data-sqsp-block="text"
              id="block-yui_3_17_2_1_1750302665817_23878"
            >
              <div class="sqs-block-content">
                <div class="sqs-html-content" data-sqsp-text-block-content="">
                  <h4
                    style="white-space: pre-wrap; transition-timing-function: ease; transition-duration: 0.9s; transition-delay: 0.449032s;"
                    class="preFade fadeIn"
                  >
                    <strong>THE INFLUENCER</strong>
                  </h4>
                </div>
              </div>
            </div>
          </div>
          <div class="fe-block fe-block-43e7e0a6221d22d11964" style="mix-blend-mode: normal;">
            <div
              class="sqs-block html-block sqs-block-html"
              data-blend-mode="NORMAL"
              data-block-type="2"
              data-border-radii="{&quot;topLeft&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;value&quot;:0.0},&quot;topRight&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;value&quot;:0.0},&quot;bottomLeft&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;value&quot;:0.0},&quot;bottomRight&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;value&quot;:0.0}}"
              data-sqsp-block="text"
              id="block-43e7e0a6221d22d11964"
            >
              <div class="sqs-block-content">
                <div class="sqs-html-content" data-sqsp-text-block-content="">
                  <p
                    class="sqsrte-large preFade fadeIn"
                    style="white-space: pre-wrap; transition-timing-function: ease; transition-duration: 0.9s; transition-delay: 0.452903s;"
                  >
                    <span class="sqsrte-text-color--lightAccent">Inspired By: Le Jour se Lève, Louis Vuitton</span>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="fe-block fe-block-yui_3_17_2_1_1750302665817_285260">
            <div
              class="sqs-block code-block sqs-block-code"
              data-block-type="23"
              id="block-yui_3_17_2_1_1750302665817_285260"
            >
              <div class="sqs-block-content">
                <div class="promo-wrapper">
                  <span class="price-text">From $14.99</span>
                  <span class="sale-badge">Up to 30% Off</span>
                </div>

                <style>
                  .promo-wrapper {
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    gap: 8px;
                    font-family: Arial, sans-serif;
                  }

                  .price-text {
                    color: #ffff;
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 1;
                    white-space: nowrap;
                  }

                  .sale-badge {
                    background-color: #ff5e1a;
                    color: #fff;
                    font-size: 12px;
                    font-weight: 600;
                    padding: 4px 8px;
                    border-radius: 4px;
                    text-transform: uppercase;
                    line-height: 1;
                    white-space: nowrap;
                  }

                  @media (max-width: 480px) {
                    .price-text {
                      font-size: 13px;
                    }

                    .sale-badge {
                      font-size: 11px;
                      padding: 3px 6px;
                    }
                  }
                </style>
              </div>
            </div>
          </div>
          <div class="fe-block fe-block-f7fb436307a70b1e7e5a">
            <div class="sqs-block code-block sqs-block-code" data-block-type="23" id="block-f7fb436307a70b1e7e5a">
              <div class="sqs-block-content">
                <div class="scent-box">
                  <div class="scent-text">
                    <h3
                      class="preFade fadeIn"
                      style="transition-timing-function: ease; transition-duration: 0.9s; transition-delay: 0.456774s;"
                    >
                      <em>"What is a Whiffer favorite?"</em>
                    </h3>
                    <p
                      class="preFade fadeIn"
                      style="transition-timing-function: ease; transition-duration: 0.9s; transition-delay: 0.460645s;"
                    >
                      Highlights the most wanted, Whiffer-approved oils.
                    </p>
                  </div>
                </div>

                <style>
                  .scent-box {
                    display: flex;
                    align-items: flex-start;
                    background: #1a1a1a;
                    border-left: 4px solid #ff5e1a;
                    padding: 20px;
                    border-radius: 8px;
                    color: #fff;
                    gap: 16px;
                    max-width: 700px;
                    margin: 20px auto;
                    font-family: Arial, sans-serif;
                  }

                  .scent-icon {
                    font-size: 30px;
                    flex-shrink: 0;
                    color: #ff5e1a;
                    margin-top: 4px;
                  }

                  .scent-text h3 {
                    margin: 0 0 10px;
                    font-size: 20px;
                    color: #ff5e1a;
                  }

                  .scent-text em {
                    font-style: normal;
                    font-weight: bold;
                    color: #fff;
                  }

                  .scent-text p {
                    margin: 0;
                    font-size: 15px;
                    line-height: 1.5;
                    color: #ccc;
                  }

                  @media (max-width: 600px) {
                    .scent-box {
                      flex-direction: column;
                      align-items: flex-start;
                    }

                    .scent-icon {
                      font-size: 26px;
                    }

                    .scent-text h3 {
                      font-size: 18px;
                    }

                    .scent-text p {
                      font-size: 14px;
                    }
                  }
                </style>
              </div>
            </div>
          </div>
          <div class="fe-block fe-block-yui_3_17_2_1_1750302665817_27092">
            <div
              class="sqs-block button-block sqs-block-button sqs-stretched"
              data-block-type="53"
              data-sqsp-block="button"
              id="block-yui_3_17_2_1_1750302665817_27092"
            >
              <div class="sqs-block-content" id="yui_3_17_2_1_1759180599887_662">
                <div
                  class="sqs-block-button-container sqs-block-button-container--center preFade fadeIn"
                  data-animation-role="button"
                  data-alignment="center"
                  data-button-size="large"
                  data-button-type="secondary"
                  id="yui_3_17_2_1_1759180599887_661"
                  style="transition-timing-function: ease; transition-duration: 0.9s; transition-delay: 0.464516s;"
                >
                  <a
                    href="https://www.whiffedaromas.com/substances-oils/p/the-influencer"
                    class="sqs-block-button-element--large sqs-button-element--secondary sqs-block-button-element"
                    data-sqsp-button=""
                    data-initialized="true"
                    tabindex="0"
                  >
                    Order Now
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% schema %}
{
  "name": "Whif Favorite Section",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "inline_richtext",
      "id": "heading",
      "default": "Customer Favorites",
      "label": "Heading"
    },
    {
      "type": "richtext",
      "id": "description",
      "default": "<p>Discover the products our customers love most.</p>",
      "label": "Description"
    },
    {
      "type": "collection",
      "id": "favorites_collection",
      "label": "Favorite products collection"
    },
    {
      "type": "range",
      "id": "products_to_show",
      "min": 2,
      "max": 12,
      "step": 1,
      "default": 6,
      "label": "Number of products to show"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color scheme",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "Section padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Top padding",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Bottom padding",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "whif_favorite_feature",
      "name": "Favorite Feature",
      "limit": 4,
      "settings": [
        {
          "type": "image_picker",
          "id": "feature_icon",
          "label": "Feature icon"
        },
        {
          "type": "text",
          "id": "feature_title",
          "default": "Top Rated",
          "label": "Feature title"
        },
        {
          "type": "textarea",
          "id": "feature_description",
          "default": "Highly rated by our customers with 5-star reviews.",
          "label": "Feature description"
        }
      ]
    },
    {
      "type": "popularity_stats",
      "name": "Popularity Statistics",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "stats_title",
          "default": "Why Customers Love These",
          "label": "Statistics title"
        },
        {
          "type": "text",
          "id": "stat_1_number",
          "default": "98%",
          "label": "Statistic 1 number"
        },
        {
          "type": "text",
          "id": "stat_1_label",
          "default": "Customer Satisfaction",
          "label": "Statistic 1 label"
        },
        {
          "type": "text",
          "id": "stat_2_number",
          "default": "4.9",
          "label": "Statistic 2 number"
        },
        {
          "type": "text",
          "id": "stat_2_label",
          "default": "Average Rating",
          "label": "Statistic 2 label"
        },
        {
          "type": "text",
          "id": "stat_3_number",
          "default": "85%",
          "label": "Statistic 3 number"
        },
        {
          "type": "text",
          "id": "stat_3_label",
          "default": "Repeat Purchases",
          "label": "Statistic 3 label"
        }
      ]
    },
    {
      "type": "whif_favorite_button",
      "name": "Button",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "button_label",
          "default": "Shop All Favorites",
          "label": "Button label"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button link"
        },
        {
          "type": "checkbox",
          "id": "button_style_secondary",
          "default": false,
          "label": "Use outline button style"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Whif Favorite Section",
      "blocks": [
        {
          "type": "whif_favorite_feature"
        },
        {
          "type": "popularity_stats"
        },
        {
          "type": "whif_favorite_button"
        }
      ]
    }
  ]
}
{% endschema %}
