{{ 'section-whif-machine-by-spaces.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<section
  data-test="page-section"
  data-section-theme="light-bold"
  class="
    page-section

      full-bleed-section
      layout-engine-section

    background-width--full-bleed


        section-height--custom



      content-width--wide

    horizontal-alignment--center
    vertical-alignment--middle

       has-background


    light-bold
  "
  data-section-id="686e36658749f7045b1ada01"
  data-controller="SectionWrapperController"
  data-current-styles="
    {
    &quot;backgroundImage&quot;: {
    &quot;id&quot;: &quot;6881247d2f72d02169cefc68&quot;,
    &quot;recordType&quot;: 2,
    &quot;addedOn&quot;: 1753293949309,
    &quot;updatedOn&quot;: 1753327938256,
    &quot;workflowState&quot;: 1,
    &quot;publishOn&quot;: 1753293949309,
    &quot;authorId&quot;: &quot;6074f3d6e0472a0798941995&quot;,
    &quot;systemDataId&quot;: &quot;c4186bc1-1b7b-4455-884c-5e3dd2dcc835&quot;,
    &quot;systemDataVariants&quot;: &quot;2816x1536,100w,300w,500w,750w,1000w,1500w,2500w&quot;,
    &quot;systemDataSourceType&quot;: &quot;JPG&quot;,
    &quot;filename&quot;: &quot;modern home.jpg&quot;,
    &quot;mediaFocalPoint&quot;: {
    &quot;x&quot;: 0.5,
    &quot;y&quot;: 0.5,
    &quot;source&quot;: 3
    },
    &quot;colorData&quot;: {
    &quot;topLeftAverage&quot;: &quot;201b17&quot;,
    &quot;topRightAverage&quot;: &quot;3c3431&quot;,
    &quot;bottomLeftAverage&quot;: &quot;3f352c&quot;,
    &quot;bottomRightAverage&quot;: &quot;070402&quot;,
    &quot;centerAverage&quot;: &quot;29211b&quot;,
    &quot;suggestedBgColor&quot;: &quot;3f3129&quot;
    },
    &quot;urlId&quot;: &quot;p8yb4y8izbs4z8ujxiom6utial3mis&quot;,
    &quot;title&quot;: &quot;&quot;,
    &quot;body&quot;: null,
    &quot;likeCount&quot;: 0,
    &quot;commentCount&quot;: 0,
    &quot;publicCommentCount&quot;: 0,
    &quot;commentState&quot;: 2,
    &quot;unsaved&quot;: false,
    &quot;author&quot;: {
    &quot;id&quot;: &quot;6074f3d6e0472a0798941995&quot;,
    &quot;displayName&quot;: &quot;zubair ahmed&quot;,
    &quot;firstName&quot;: &quot;zubair&quot;,
    &quot;lastName&quot;: &quot;ahmed&quot;,
    &quot;avatarUrl&quot;: &quot;https://images.squarespace-cdn.com/content/v2/namespaces/memberAccountAvatars/libraries/6074f3d6e0472a0798941995/c55b8fd1a83d46eab84a6cb97c29b987/c55b8fd1a83d46eab84a6cb97c29b987.jpeg?format=300w&quot;,
    &quot;bio&quot;: &quot;&quot;,
    &quot;avatarAssetUrl&quot;: &quot;https://images.squarespace-cdn.com/content/v2/namespaces/memberAccountAvatars/libraries/6074f3d6e0472a0798941995/c55b8fd1a83d46eab84a6cb97c29b987/c55b8fd1a83d46eab84a6cb97c29b987.jpeg?format=300w&quot;
    },
    &quot;assetUrl&quot;: &quot;https://images.squarespace-cdn.com/content/v1/67da0c2c5d3b414ebdd380a0/c4186bc1-1b7b-4455-884c-5e3dd2dcc835/modern+home.jpg&quot;,
    &quot;contentType&quot;: &quot;image/jpeg&quot;,
    &quot;items&quot;: [ ],
    &quot;pushedServices&quot;: { },
    &quot;pendingPushedServices&quot;: { },
    &quot;originalSize&quot;: &quot;2816x1536&quot;,
    &quot;recordTypeLabel&quot;: &quot;image&quot;
    },
    &quot;imageOverlayOpacity&quot;: 0.1,
    &quot;backgroundWidth&quot;: &quot;background-width--full-bleed&quot;,
    &quot;sectionHeight&quot;: &quot;section-height--custom&quot;,
    &quot;customSectionHeight&quot;: 0,
    &quot;horizontalAlignment&quot;: &quot;horizontal-alignment--center&quot;,
    &quot;verticalAlignment&quot;: &quot;vertical-alignment--middle&quot;,
    &quot;contentWidth&quot;: &quot;content-width--wide&quot;,
    &quot;customContentWidth&quot;: 50,
    &quot;sectionTheme&quot;: &quot;light-bold&quot;,
    &quot;sectionAnimation&quot;: &quot;none&quot;,
    &quot;backgroundMode&quot;: &quot;image&quot;
    }
  "
  data-current-context="
    {
    &quot;video&quot;: {
    &quot;playbackSpeed&quot;: 1,
    &quot;filter&quot;: 1,
    &quot;filterStrength&quot;: 0,
    &quot;zoom&quot;: 0,
    &quot;videoSourceProvider&quot;: &quot;none&quot;
    },
    &quot;backgroundImageId&quot;: null,
    &quot;backgroundMediaEffect&quot;: {
    &quot;type&quot;: &quot;none&quot;
    },
    &quot;divider&quot;: {
    &quot;enabled&quot;: false
    },
    &quot;typeName&quot;: &quot;page&quot;
    }
  "
  data-animation="none"
  data-fluid-engine-section=""
  data-controllers-bound="SectionWrapperController,SectionWrapperController"
  data-active="true"
>
  <div class="section-border">
    <div class="section-background">
      <img
        alt=""
        data-src="https://images.squarespace-cdn.com/content/v1/67da0c2c5d3b414ebdd380a0/c4186bc1-1b7b-4455-884c-5e3dd2dcc835/modern+home.jpg"
        data-image="https://images.squarespace-cdn.com/content/v1/67da0c2c5d3b414ebdd380a0/c4186bc1-1b7b-4455-884c-5e3dd2dcc835/modern+home.jpg"
        data-image-dimensions="2816x1536"
        data-image-focal-point="0.5,0.5"
        data-load="false"
        elementtiming="nbf-background"
        src="./Whiffed Aromas _ Luxury Home and Commercial Scenting_files/modern+home.jpg"
        width="2816"
        height="1536"
        sizes="(max-width: 799px) 200vw, 100vw"
        style="display:block;object-position: 50% 50%"
        srcset="https://images.squarespace-cdn.com/content/v1/67da0c2c5d3b414ebdd380a0/c4186bc1-1b7b-4455-884c-5e3dd2dcc835/modern+home.jpg?format=100w 100w, https://images.squarespace-cdn.com/content/v1/67da0c2c5d3b414ebdd380a0/c4186bc1-1b7b-4455-884c-5e3dd2dcc835/modern+home.jpg?format=300w 300w, https://images.squarespace-cdn.com/content/v1/67da0c2c5d3b414ebdd380a0/c4186bc1-1b7b-4455-884c-5e3dd2dcc835/modern+home.jpg?format=500w 500w, https://images.squarespace-cdn.com/content/v1/67da0c2c5d3b414ebdd380a0/c4186bc1-1b7b-4455-884c-5e3dd2dcc835/modern+home.jpg?format=750w 750w, https://images.squarespace-cdn.com/content/v1/67da0c2c5d3b414ebdd380a0/c4186bc1-1b7b-4455-884c-5e3dd2dcc835/modern+home.jpg?format=1000w 1000w, https://images.squarespace-cdn.com/content/v1/67da0c2c5d3b414ebdd380a0/c4186bc1-1b7b-4455-884c-5e3dd2dcc835/modern+home.jpg?format=1500w 1500w, https://images.squarespace-cdn.com/content/v1/67da0c2c5d3b414ebdd380a0/c4186bc1-1b7b-4455-884c-5e3dd2dcc835/modern+home.jpg?format=2500w 2500w"
        fetchpriority="low"
        loading="lazy"
        decoding="async"
        data-loader="sqs"
      >

      <div class="section-background-overlay" style="opacity: 0.1;"></div>
    </div>
  </div>
  <div
    class="content-wrapper"
    style="




      padding-top: calc(0vmax / 10); padding-bottom: calc(0vmax / 10);
    "
  >
    <div class="content">
      <div data-fluid-engine="true">
        <style>
          .fe-686e36668766d367f9ba7dc1 {
            --grid-gutter: calc(var(--sqs-mobile-site-gutter, 6vw) - 0px);
            --cell-max-width: calc((var(--sqs-site-max-width, 1500px) - (0px * (8 - 1))) / 8);

            display: grid;
            position: relative;
            grid-area: 1/1/-1/-1;
            grid-template-rows: repeat(16, minmax(24px, auto));
            grid-template-columns:
              minmax(var(--grid-gutter), 1fr)
              repeat(8, minmax(0, var(--cell-max-width)))
              minmax(var(--grid-gutter), 1fr);
            row-gap: 0px;
            column-gap: 0px;
            overflow-x: hidden;
            overflow-x: clip;
          }

          @media (min-width: 768px) {
            .background-width--inset .fe-686e36668766d367f9ba7dc1 {
              --inset-padding: calc(var(--sqs-site-gutter) * 2);
            }

            .fe-686e36668766d367f9ba7dc1 {
              --grid-gutter: calc(var(--sqs-site-gutter, 4vw) - 0px);
              --cell-max-width: calc((var(--sqs-site-max-width, 1500px) - (0px * (24 - 1))) / 24);
              --inset-padding: 0vw;

              --row-height-scaling-factor: 0.0215;
              --container-width: min(
                var(--sqs-site-max-width, 1500px),
                calc(100vw - var(--sqs-site-gutter, 4vw) * 2 - var(--inset-padding))
              );

              grid-template-rows: repeat(
                26,
                minmax(calc(var(--container-width) * var(--row-height-scaling-factor)), auto)
              );
              grid-template-columns:
                minmax(var(--grid-gutter), 1fr)
                repeat(24, minmax(0, var(--cell-max-width)))
                minmax(var(--grid-gutter), 1fr);
            }
          }

          .fe-block-yui_3_17_2_1_1752268401401_2624 {
            grid-area: 2/2/4/10;
            z-index: 2;

            @media (max-width: 767px) {
            }
          }

          .fe-block-yui_3_17_2_1_1752268401401_2624 .sqs-block {
            justify-content: flex-start;
          }

          .fe-block-yui_3_17_2_1_1752268401401_2624 .sqs-block-alignment-wrapper {
            align-items: flex-start;
          }

          @media (min-width: 768px) {
            .fe-block-yui_3_17_2_1_1752268401401_2624 {
              grid-area: 3/2/5/26;
              z-index: 2;
            }

            .fe-block-yui_3_17_2_1_1752268401401_2624 .sqs-block {
              justify-content: flex-start;
            }

            .fe-block-yui_3_17_2_1_1752268401401_2624 .sqs-block-alignment-wrapper {
              align-items: flex-start;
            }
          }

          .fe-block-yui_3_17_2_1_1752051767988_3074 {
            grid-area: 5/3/17/9;
            z-index: 1;

            @media (max-width: 767px) {
            }
          }

          .fe-block-yui_3_17_2_1_1752051767988_3074 .sqs-block {
            justify-content: flex-start;
          }

          .fe-block-yui_3_17_2_1_1752051767988_3074 .sqs-block-alignment-wrapper {
            align-items: flex-start;
          }

          @media (min-width: 768px) {
            .fe-block-yui_3_17_2_1_1752051767988_3074 {
              grid-area: 5/1/27/27;
              z-index: 1;
            }

            .fe-block-yui_3_17_2_1_1752051767988_3074 .sqs-block {
              justify-content: flex-start;
            }

            .fe-block-yui_3_17_2_1_1752051767988_3074 .sqs-block-alignment-wrapper {
              align-items: flex-start;
            }
          }
        </style>
        <div class="fluid-engine fe-686e36668766d367f9ba7dc1">
          <div class="fe-block fe-block-yui_3_17_2_1_1752268401401_2624" style="mix-blend-mode: normal;">
            <div
              class="sqs-block html-block sqs-block-html"
              data-blend-mode="NORMAL"
              data-block-type="2"
              data-border-radii="{&quot;topLeft&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;value&quot;:0.0},&quot;topRight&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;value&quot;:0.0},&quot;bottomLeft&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;value&quot;:0.0},&quot;bottomRight&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;value&quot;:0.0}}"
              data-sqsp-block="text"
              id="block-yui_3_17_2_1_1752268401401_2624"
            >
              <div class="sqs-block-content" style="position: relative; z-index: 0;">
                <script class="TextAttributes-props" type="application/json">
                  [
                    {
                      "type": "highlight",
                      "id": "1ac8ba2c-db52-447d-9570-3f092eaf65ab",
                      "shape": "scribble",
                      "isFront": false,
                      "isAnimationEnabled": false,
                      "animation": "draw",
                      "duration": 0.5,
                      "direction": "right",
                      "color": {
                        "type": "SITE_PALETTE_COLOR",
                        "sitePaletteColor": {
                          "colorName": "accent",
                          "alphaModifier": 1.0
                        }
                      },
                      "thickness": {
                        "unit": "em",
                        "value": 0.05
                      },
                      "linecap": "square"
                    }
                  ]
                </script>

                <div class="sqs-html-content" data-sqsp-text-block-content="">
                  <h3
                    style="text-align: center; white-space: pre-wrap; transition-timing-function: ease; transition-duration: 0.9s; transition-delay: 0.24s;"
                    class="preFade fadeIn"
                  >
                    <span class="sqsrte-text-highlight" data-text-attribute-id="1ac8ba2c-db52-447d-9570-3f092eaf65ab"
                      >Machines By Spaces</span
                    >
                  </h3>
                </div>

                <div
                  class="TextShape-node"
                  data-text-attribute-id="1ac8ba2c-db52-447d-9570-3f092eaf65ab"
                  data-shape="scribble"
                  data-font-size="57"
                  data-is-front="false"
                  data-index="0"
                  style="font-size: 57px; --stroke: hsla(var(--accent-hsl),1); --stroke-width: 0.05em; --stroke-linecap: square; --stroke-linejoin: bevel; --blend: none; --opacity: undefined; opacity: 1; transform: scale(1); width: 363px; height: 65px; left: 519px; top: -6px;"
                >
                  <svg>
                    <path d="M 0,57.2 c 27.224999999999998,-0.2924999999999969 127.05,-2.144999999999996 181.5,-1.9500000000000028 c 54.44999999999999,0.19500000000000028 176.055,3.25 181.5,3.25 c 5.444999999999993,0 -96.19500000000005,-3.7375000000000114 -145.20000000000002,-3.25 c -49.004999999999995,0.48750000000000426 -176.05499999999998,5.719999999999999 -181.49999999999997,6.5 c -5.444999999999997,0.7800000000000011 107.08499999999998,-1.29999999999999 145.2,-1.2999999999999972 c 38.11500000000001,0 108.90000000000003,0.6174999999999997 108.90000000000003,1.2999999999999972 c 0,0.6824999999999974 -81.67500000000001,2.762500000000017 -108.90000000000003,3.25 c -27.225000000000023,0.48749999999999716 -61.71000000000001,0 -72.60000000000001,0" vector-effect="non-scaling-stroke" stroke-dasharray="1127" stroke-dashoffset="2254"></path>
                  </svg>
                </div>
              </div>
            </div>
          </div>
          <div class="fe-block fe-block-yui_3_17_2_1_1752051767988_3074">
            <div
              class="sqs-block code-block sqs-block-code"
              data-block-type="23"
              id="block-yui_3_17_2_1_1752051767988_3074"
            >
              <div class="sqs-block-content">
                <meta name="viewport" content="width=device-width, initial-scale=1.0">

                <!-- Font Awesome -->
                <link rel="stylesheet" href="./Whiffed Aromas _ Luxury Home and Commercial Scenting_files/all.min.css">
                <!-- Swiper CSS -->
                <link
                  rel="stylesheet"
                  href="./Whiffed Aromas _ Luxury Home and Commercial Scenting_files/swiper-bundle.min.css"
                >

                <style>
                  body {
                    margin: 0;
                    font-family: sans-serif;
                  }

                  .frosted-section {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    gap: 20px;
                    padding: 60px 20px;
                  }

                  .frosted-card {
                    flex: 1 1 calc(33.33% - 20px);
                    max-width: 320px;
                    height: 200px;
                    border-radius: 16px;
                    backdrop-filter: blur(10px);
                    background-color: rgba(255, 255, 255, 0.18);
                    border: none !important;
                    color: white;
                    position: relative;
                    text-align: center;
                    overflow: hidden;
                    transition:
                      background 0.4s ease,
                      border 0.4s ease;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                  }

                  .frosted-card i {
                    font-size: 24px;
                    margin-bottom: 10px;
                    transition: color 0.3s ease;
                  }

                  .frosted-card h3 {
                    font-size: 22px;
                    font-weight: 800;
                    margin: 0;
                    padding: 0 16px;
                    transition: opacity 0.3s ease;
                  }

                  .hover-content {
                    opacity: 0;
                    transform: translateY(10px);
                    transition:
                      opacity 0.3s ease,
                      transform 0.3s ease;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 6px;
                    padding: 0 16px;
                  }

                  .hover-text {
                    font-size: 14px;
                    font-weight: 500;
                    color: #ffffff;
                  }

                  .hover-btn a {
                    text-decoration: none;
                    background: transparent;
                    border: 2px solid #ff5e1a;
                    color: #ff5e1a;
                    padding: 6px 18px;
                    font-weight: 600;
                    font-size: 13px;
                    border-radius: 999px;
                    transition:
                      background 0.3s,
                      color 0.3s;
                  }

                  .hover-btn a:hover {
                    background-color: #ff5e1a;
                    color: white;
                  }

                  .hover-btn {
                    opacity: 0;
                    transform: translateY(10px);
                    transition:
                      opacity 0.3s ease,
                      transform 0.3s ease;
                    margin-top: 10px;
                  }

                  .frosted-card:hover {
                    background-color: rgba(0, 0, 0, 0.85);
                    border-color: #ff5e1a;
                  }

                  .frosted-card:hover i {
                    color: #ff5e1a;
                  }

                  .frosted-card:hover h3 {
                    opacity: 0;
                  }

                  .frosted-card:hover .hover-content,
                  .frosted-card:hover .hover-btn {
                    opacity: 1;
                    transform: translateY(0);
                  }

                  @media screen and (max-width: 900px) {
                    .frosted-card {
                      flex: 1 1 45%;
                    }
                  }

                  @media screen and (max-width: 600px) {
                    .frosted-card {
                      flex: 1 1 100%;
                    }
                  }

                  /* Swiper Mobile Arrows & Pagination */
                  @media screen and (max-width: 640px) {
                    .swiper {
                      padding-bottom: 110px;
                    }

                    .frosted-card h3 {
                      opacity: 0 !important;
                    }

                    .frosted-card .hover-content,
                    .frosted-card .hover-btn {
                      opacity: 1 !important;
                      transform: translateY(0) !important;
                    }
                    .frosted-card::before {
                      opacity: 1 !important;
                      transform: scale(1) !important;
                      border: 2px solid #ff5e1a; /* Brand color border */
                    }

                    .swiper-pagination {
                      bottom: 60px !important;
                    }

                    .swiper-pagination-bullet {
                      width: 10px;
                      height: 10px;
                      background: rgba(255, 94, 26, 0.3);
                      opacity: 1;
                      margin: 0 4px;
                    }

                    .swiper-pagination-bullet-active {
                      background: #ff5e1a;
                    }

                    .arrow-controls {
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      margin-top: 10px;
                      gap: 6px;
                      position: absolute;
                      bottom: 20px;
                      left: 0;
                      right: 0;
                      z-index: 10;
                    }

                    .swiper-button-next,
                    .swiper-button-prev {
                      position: static;
                      width: 28px;
                      height: 28px;
                      font-size: 14px !important;
                      background-color: white;
                      border: 2px solid #ff5e1a;
                      border-radius: 50%;
                      color: #ff5e1a;
                      display: flex;
                      align-items: center;
                      justify-content: center;
                    }
                    .swiper-button-next::after,
                    .swiper-button-prev::after {
                      display: none !important;
                    }
                    .swiper-button-next i,
                    .swiper-button-prev i {
                      font-size: 14px; /* Adjust size */
                      color: black;
                    }

                    /* Center content in mobile cards */
                    .swiper-slide .frosted-card {
                      padding: 20px 10px;
                      justify-content: center;
                      align-items: center;
                      text-align: center;
                    }

                    .swiper-slide .frosted-card h3 {
                      text-align: center;
                    }
                  }

                  /* Visibility Controls */
                  .desktop-only {
                    display: flex;
                  }

                  .mobile-only {
                    display: none;
                  }

                  @media screen and (max-width: 640px) {
                    .desktop-only {
                      display: none;
                    }

                    .mobile-only {
                      display: block;
                    }
                  }

                  /*hover effect wihout hover on mobile */
                  /* Hover border using ::before */
                  .frosted-card::before {
                    content: '';
                    position: absolute;
                    inset: 0;
                    border: 2px solid #ff5e1a;
                    border-radius: 16px;
                    opacity: 0;
                    transform: scale(1.03);
                    transition:
                      opacity 0.3s ease,
                      transform 0.3s ease;
                    pointer-events: none;
                  }

                  .frosted-card:hover::before {
                    opacity: 1;
                    transform: scale(1);
                  }

                  /* On mobile: always show hover styles */
                  @media screen and (max-width: 640px) {
                    .frosted-card::before {
                      opacity: 1 !important;
                      transform: scale(1) !important;
                    }

                    .frosted-card {
                      background-color: rgba(0, 0, 0, 0.85) !important;
                      border-color: #ff5e1a !important;
                    }

                    .frosted-card i {
                      color: #ff5e1a !important;
                    }
                  }
                </style>

                <!-- DESKTOP VERSION -->
                <div class="frosted-section desktop-only">
                  <div class="frosted-card">
                    <i class="fas fa-car-side"></i>
                    <h3
                      class="preFade fadeIn"
                      style="transition-timing-function: ease; transition-duration: 0.9s; transition-delay: 0.243871s;"
                    >
                      CAR | 300 SQ.FT
                    </h3>
                    <div class="hover-content"><div class="hover-text">Perfect for on-the-go scenting</div></div>
                    <div class="hover-btn">
                      <a href="https://www.whiffedaromas.com/machines-by-space-size#car-500-sqft" tabindex="0"
                        >Shop Now</a
                      >
                    </div>
                  </div>
                  <div class="frosted-card">
                    <i class="fas fa-door-open"></i>
                    <h3
                      class="preFade fadeIn"
                      style="transition-timing-function: ease; transition-duration: 0.9s; transition-delay: 0.247742s;"
                    >
                      UP TO 700 SQ.FT
                    </h3>
                    <div class="hover-content"><div class="hover-text">Great for small spaces &amp; rooms</div></div>
                    <div class="hover-btn">
                      <a href="https://www.whiffedaromas.com/machines-by-space-size#1000-sqft" tabindex="0">Shop Now</a>
                    </div>
                  </div>
                  <div class="frosted-card">
                    <i class="fas fa-building"></i>
                    <h3
                      class="preFade fadeIn"
                      style="transition-timing-function: ease; transition-duration: 0.9s; transition-delay: 0.251613s;"
                    >
                      UP TO 3,500 SQ.FT
                    </h3>
                    <div class="hover-content"><div class="hover-text">Ideal for multi-room coverage</div></div>
                    <div class="hover-btn">
                      <a href="https://www.whiffedaromas.com/machines-by-space-size#3500-sqft" tabindex="0">Shop Now</a>
                    </div>
                  </div>
                  <div class="frosted-card">
                    <i class="fas fa-city"></i>
                    <h3
                      class="preFade"
                      style="transition-timing-function: ease; transition-duration: 0.9s; transition-delay: 0.255484s;"
                    >
                      UP TO 5,000 SQ.FT +
                    </h3>
                    <div class="hover-content"><div class="hover-text">Large homes or open spaces</div></div>
                    <div class="hover-btn">
                      <a href="https://www.whiffedaromas.com/machines-by-space-size#5000-sqft" tabindex="0">Shop Now</a>
                    </div>
                  </div>
                  <div class="frosted-card">
                    <i class="fas fa-warehouse"></i>
                    <h3
                      class="preFade"
                      style="transition-timing-function: ease; transition-duration: 0.9s; transition-delay: 0.259355s;"
                    >
                      COMMERCIAL
                    </h3>
                    <div class="hover-content"><div class="hover-text">Diffusers built for business</div></div>
                    <div class="hover-btn">
                      <a href="https://www.whiffedaromas.com/machines-by-space-size#commercial" tabindex="0"
                        >Shop Now</a
                      >
                    </div>
                  </div>
                </div>

                <!-- MOBILE SWIPER VERSION -->
                <div class="mobile-only">
                  <div class="swiper mySwiper swiper-initialized swiper-horizontal">
                    <div
                      class="swiper-wrapper"
                      id="swiper-wrapper-aba44e3f3f283391"
                      aria-live="off"
                      style="transition-duration: 300ms;"
                    >
                      <div
                        class="swiper-slide swiper-slide-prev"
                        data-swiper-slide-index="0"
                        role="group"
                        aria-label="1 / 5"
                      >
                        <div class="frosted-card">
                          <i class="fas fa-car-side"></i>
                          <h3
                            class="preFade"
                            style="transition-timing-function: ease; transition-duration: 0.9s; transition-delay: 0.263226s;"
                          >
                            CAR | 300 SQ.FT
                          </h3>
                          <div class="hover-content"><div class="hover-text">Perfect for on-the-go scenting</div></div>
                          <div class="hover-btn">
                            <a href="https://www.whiffedaromas.com/machines-by-space-size#car-500-sqft" tabindex="0"
                              >Shop Now</a
                            >
                          </div>
                        </div>
                      </div>
                      <div
                        class="swiper-slide swiper-slide-active"
                        data-swiper-slide-index="1"
                        role="group"
                        aria-label="2 / 5"
                      >
                        <div class="frosted-card">
                          <i class="fas fa-door-open"></i>
                          <h3
                            class="preFade"
                            style="transition-timing-function: ease; transition-duration: 0.9s; transition-delay: 0.267097s;"
                          >
                            UP TO 700 SQ.FT
                          </h3>
                          <div class="hover-content">
                            <div class="hover-text">Great for small spaces &amp; rooms</div>
                          </div>
                          <div class="hover-btn">
                            <a href="https://www.whiffedaromas.com/machines-by-space-size#1000-sqft" tabindex="0"
                              >Shop Now</a
                            >
                          </div>
                        </div>
                      </div>
                      <div
                        class="swiper-slide swiper-slide-next"
                        data-swiper-slide-index="2"
                        role="group"
                        aria-label="3 / 5"
                      >
                        <div class="frosted-card">
                          <i class="fas fa-building"></i>
                          <h3
                            class="preFade"
                            style="transition-timing-function: ease; transition-duration: 0.9s; transition-delay: 0.270968s;"
                          >
                            UP TO 3,500 SQ.FT
                          </h3>
                          <div class="hover-content"><div class="hover-text">Ideal for multi-room coverage</div></div>
                          <div class="hover-btn">
                            <a href="https://www.whiffedaromas.com/machines-by-space-size#3500-sqft" tabindex="0"
                              >Shop Now</a
                            >
                          </div>
                        </div>
                      </div>
                      <div class="swiper-slide" data-swiper-slide-index="3" role="group" aria-label="4 / 5">
                        <div class="frosted-card">
                          <i class="fas fa-city"></i>
                          <h3
                            class="preFade"
                            style="transition-timing-function: ease; transition-duration: 0.9s; transition-delay: 0.274839s;"
                          >
                            UP TO 5,000 SQ.FT +
                          </h3>
                          <div class="hover-content"><div class="hover-text">Large homes or open spaces</div></div>
                          <div class="hover-btn">
                            <a href="https://www.whiffedaromas.com/machines-by-space-size#5000-sqft" tabindex="0"
                              >Shop Now</a
                            >
                          </div>
                        </div>
                      </div>
                      <div class="swiper-slide" data-swiper-slide-index="4" role="group" aria-label="5 / 5">
                        <div class="frosted-card">
                          <i class="fas fa-warehouse"></i>
                          <h3
                            class="preFade"
                            style="transition-timing-function: ease; transition-duration: 0.9s; transition-delay: 0.27871s;"
                          >
                            COMMERCIAL
                          </h3>
                          <div class="hover-content"><div class="hover-text">Diffusers built for business</div></div>
                          <div class="hover-btn">
                            <a href="https://www.whiffedaromas.com/machines-by-space-size#commercial" tabindex="0"
                              >Shop Now</a
                            >
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets swiper-pagination-horizontal">
                      <span
                        class="swiper-pagination-bullet"
                        tabindex="0"
                        role="button"
                        aria-label="Go to slide 1"
                      ></span
                      ><span
                        class="swiper-pagination-bullet swiper-pagination-bullet-active"
                        tabindex="0"
                        role="button"
                        aria-label="Go to slide 2"
                        aria-current="true"
                      ></span
                      ><span
                        class="swiper-pagination-bullet"
                        tabindex="0"
                        role="button"
                        aria-label="Go to slide 3"
                      ></span
                      ><span
                        class="swiper-pagination-bullet"
                        tabindex="0"
                        role="button"
                        aria-label="Go to slide 4"
                      ></span
                      ><span
                        class="swiper-pagination-bullet"
                        tabindex="0"
                        role="button"
                        aria-label="Go to slide 5"
                      ></span>
                    </div>

                    <!-- Custom Arrow Controls -->
                    <div class="arrow-controls">
                      <div
                        class="swiper-button-prev"
                        tabindex="0"
                        role="button"
                        aria-label="Previous slide"
                        aria-controls="swiper-wrapper-aba44e3f3f283391"
                      >
                        <i class="fas fa-chevron-left"></i>
                      </div>
                      <div
                        class="swiper-button-next"
                        tabindex="0"
                        role="button"
                        aria-label="Next slide"
                        aria-controls="swiper-wrapper-aba44e3f3f283391"
                      >
                        <i class="fas fa-chevron-right"></i>
                      </div>
                    </div>
                    <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span
                    ><span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                  </div>
                </div>

                <!-- Swiper JS -->
                <script
                  src="./Whiffed Aromas _ Luxury Home and Commercial Scenting_files/swiper-bundle.min.js.download"
                ></script>
                <script>
                  const swiper = new Swiper('.mySwiper', {
                    loop: true,
                    autoplay: {
                      delay: 3000,
                      disableOnInteraction: false,
                    },
                    navigation: {
                      nextEl: '.swiper-button-next',
                      prevEl: '.swiper-button-prev',
                    },
                    pagination: {
                      el: '.swiper-pagination',
                      clickable: true,
                    },
                  });
                </script>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Whif Machine by Spaces",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "inline_richtext",
      "id": "heading",
      "default": "Find the Perfect Machine for Your Space",
      "label": "Heading"
    },
    {
      "type": "richtext",
      "id": "description",
      "default": "<p>Different spaces require different scenting solutions. Find the perfect machine for your needs.</p>",
      "label": "Description"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color scheme",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "Section padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Top padding",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Bottom padding",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "space_type",
      "name": "Space Type",
      "limit": 6,
      "settings": [
        {
          "type": "image_picker",
          "id": "space_image",
          "label": "Space image"
        },
        {
          "type": "text",
          "id": "space_name",
          "default": "Small Office",
          "label": "Space name"
        },
        {
          "type": "text",
          "id": "space_size",
          "default": "Up to 500 sq ft",
          "label": "Space size"
        },
        {
          "type": "textarea",
          "id": "space_description",
          "default": "Perfect for small offices, boutiques, and personal spaces.",
          "label": "Space description"
        },
        {
          "type": "product",
          "id": "recommended_machine",
          "label": "Recommended machine"
        }
      ]
    },
    {
      "type": "space_calculator",
      "name": "Space Calculator",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "calculator_title",
          "default": "Space Size Calculator",
          "label": "Calculator title"
        },
        {
          "type": "textarea",
          "id": "calculator_description",
          "default": "Not sure which machine is right for you? Use our calculator to find the perfect match.",
          "label": "Calculator description"
        }
      ]
    },
    {
      "type": "button",
      "name": "Button",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "button_label",
          "default": "View All Machines",
          "label": "Button label"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button link"
        },
        {
          "type": "checkbox",
          "id": "button_style_secondary",
          "default": false,
          "label": "Use outline button style"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Whif Machine by Spaces",
      "blocks": [
        {
          "type": "space_type"
        },
        {
          "type": "space_type"
        },
        {
          "type": "space_calculator"
        },
        {
          "type": "button"
        }
      ]
    }
  ]
}
{% endschema %}
