{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<section
  data-test="page-section"
  data-section-theme=""
  class="
    page-section

      full-bleed-section
      layout-engine-section

    background-width--full-bleed


        section-height--custom



      content-width--wide

    horizontal-alignment--center
    vertical-alignment--middle
  "
  data-section-id="688627f020c23f75a70945bd"
  data-controller="SectionWrapperController"
  data-current-styles="
    {
    &quot;imageOverlayOpacity&quot;: 0.15,
    &quot;backgroundWidth&quot;: &quot;background-width--full-bleed&quot;,
    &quot;sectionHeight&quot;: &quot;section-height--custom&quot;,
    &quot;customSectionHeight&quot;: 0,
    &quot;horizontalAlignment&quot;: &quot;horizontal-alignment--center&quot;,
    &quot;verticalAlignment&quot;: &quot;vertical-alignment--middle&quot;,
    &quot;contentWidth&quot;: &quot;content-width--wide&quot;,
    &quot;customContentWidth&quot;: 50,
    &quot;sectionTheme&quot;: &quot;&quot;,
    &quot;sectionAnimation&quot;: &quot;none&quot;,
    &quot;backgroundMode&quot;: &quot;image&quot;
    }
  "
  data-current-context="
    {
    &quot;video&quot;: {
    &quot;playbackSpeed&quot;: 1,
    &quot;filter&quot;: 1,
    &quot;filterStrength&quot;: 0,
    &quot;zoom&quot;: 0,
    &quot;videoSourceProvider&quot;: &quot;none&quot;
    },
    &quot;backgroundImageId&quot;: null,
    &quot;backgroundMediaEffect&quot;: {
    &quot;type&quot;: &quot;none&quot;
    },
    &quot;divider&quot;: {
    &quot;enabled&quot;: false
    },
    &quot;typeName&quot;: &quot;page&quot;
    }
  "
  data-animation="none"
  data-fluid-engine-section=""
  data-controllers-bound="SectionWrapperController,SectionWrapperController"
  data-active="true"
>
  <div class="section-border">
    <div class="section-background"></div>
  </div>
  <div
    class="content-wrapper"
    style="




      padding-top: calc(0vmax / 10); padding-bottom: calc(0vmax / 10);
    "
  >
    <div class="content">
      <div data-fluid-engine="true">
        <style>
          .fe-688627f0dbdfb9646556e162 {
            --grid-gutter: calc(var(--sqs-mobile-site-gutter, 6vw) - 0px);
            --cell-max-width: calc((var(--sqs-site-max-width, 1500px) - (0px * (8 - 1))) / 8);

            display: grid;
            position: relative;
            grid-area: 1/1/-1/-1;
            grid-template-rows: repeat(24, minmax(24px, auto));
            grid-template-columns:
              minmax(var(--grid-gutter), 1fr)
              repeat(8, minmax(0, var(--cell-max-width)))
              minmax(var(--grid-gutter), 1fr);
            row-gap: 0px;
            column-gap: 0px;
            overflow-x: hidden;
            overflow-x: clip;
          }

          @media (min-width: 768px) {
            .background-width--inset .fe-688627f0dbdfb9646556e162 {
              --inset-padding: calc(var(--sqs-site-gutter) * 2);
            }

            .fe-688627f0dbdfb9646556e162 {
              --grid-gutter: calc(var(--sqs-site-gutter, 4vw) - 0px);
              --cell-max-width: calc((var(--sqs-site-max-width, 1500px) - (0px * (24 - 1))) / 24);
              --inset-padding: 0vw;

              --row-height-scaling-factor: 0.0215;
              --container-width: min(
                var(--sqs-site-max-width, 1500px),
                calc(100vw - var(--sqs-site-gutter, 4vw) * 2 - var(--inset-padding))
              );

              grid-template-rows: repeat(
                20,
                minmax(calc(var(--container-width) * var(--row-height-scaling-factor)), auto)
              );
              grid-template-columns:
                minmax(var(--grid-gutter), 1fr)
                repeat(24, minmax(0, var(--cell-max-width)))
                minmax(var(--grid-gutter), 1fr);
            }
          }

          .fe-block-yui_3_17_2_1_1753620694981_12075 {
            grid-area: 3/2/11/10;
            z-index: 1;

            @media (max-width: 767px) {
            }
          }

          .fe-block-yui_3_17_2_1_1753620694981_12075 .sqs-block {
            justify-content: flex-start;
          }

          .fe-block-yui_3_17_2_1_1753620694981_12075 .sqs-block-alignment-wrapper {
            align-items: flex-start;
          }

          @media (min-width: 768px) {
            .fe-block-yui_3_17_2_1_1753620694981_12075 {
              grid-area: 5/2/20/15;
              z-index: 1;
            }

            .fe-block-yui_3_17_2_1_1753620694981_12075 .sqs-block {
              justify-content: flex-start;
            }

            .fe-block-yui_3_17_2_1_1753620694981_12075 .sqs-block-alignment-wrapper {
              align-items: flex-start;
            }
          }

          .fe-block-yui_3_17_2_1_1753620694981_12699 {
            grid-area: 12/2/15/10;
            z-index: 2;

            @media (max-width: 767px) {
            }
          }

          .fe-block-yui_3_17_2_1_1753620694981_12699 .sqs-block {
            justify-content: center;
          }

          .fe-block-yui_3_17_2_1_1753620694981_12699 .sqs-block-alignment-wrapper {
            align-items: center;
          }

          @media (min-width: 768px) {
            .fe-block-yui_3_17_2_1_1753620694981_12699 {
              grid-area: 6/17/10/25;
              z-index: 2;
            }

            .fe-block-yui_3_17_2_1_1753620694981_12699 .sqs-block {
              justify-content: flex-start;
            }

            .fe-block-yui_3_17_2_1_1753620694981_12699 .sqs-block-alignment-wrapper {
              align-items: flex-start;
            }
          }

          .fe-block-yui_3_17_2_1_1753620694981_13168 {
            grid-area: 15/2/20/10;
            z-index: 3;

            @media (max-width: 767px) {
            }
          }

          .fe-block-yui_3_17_2_1_1753620694981_13168 .sqs-block {
            justify-content: flex-end;
          }

          .fe-block-yui_3_17_2_1_1753620694981_13168 .sqs-block-alignment-wrapper {
            align-items: flex-end;
          }

          @media (min-width: 768px) {
            .fe-block-yui_3_17_2_1_1753620694981_13168 {
              grid-area: 10/17/14/25;
              z-index: 3;
            }

            .fe-block-yui_3_17_2_1_1753620694981_13168 .sqs-block {
              justify-content: flex-start;
            }

            .fe-block-yui_3_17_2_1_1753620694981_13168 .sqs-block-alignment-wrapper {
              align-items: flex-start;
            }
          }

          .fe-block-51161b5c768ab9e55330 {
            grid-area: 21/4/23/8;
            z-index: 9;

            @media (max-width: 767px) {
            }
          }

          .fe-block-51161b5c768ab9e55330 .sqs-block {
            justify-content: center;
          }

          .fe-block-51161b5c768ab9e55330 .sqs-block-alignment-wrapper {
            align-items: center;
          }

          @media (min-width: 768px) {
            .fe-block-51161b5c768ab9e55330 {
              grid-area: 15/19/17/23;
              z-index: 17;
            }

            .fe-block-51161b5c768ab9e55330 .sqs-block {
              justify-content: center;
            }

            .fe-block-51161b5c768ab9e55330 .sqs-block-alignment-wrapper {
              align-items: center;
            }
          }
        </style>
        <div class="fluid-engine fe-688627f0dbdfb9646556e162">
          <div class="fe-block fe-block-yui_3_17_2_1_1753620694981_12075">
            <div
              class="sqs-block video-block sqs-block-video"
              data-block-json="{&quot;blockAnimation&quot;:&quot;none&quot;,&quot;layout&quot;:&quot;caption-hidden&quot;,&quot;overlay&quot;:true,&quot;description&quot;:{},&quot;isOldBlock&quot;:false,&quot;settings&quot;:{&quot;muted&quot;:true,&quot;autoPlay&quot;:true,&quot;loop&quot;:true,&quot;controls&quot;:&quot;full&quot;},&quot;customThumb&quot;:&quot;6886288913225966d86088cf&quot;,&quot;url&quot;:&quot;&quot;,&quot;resolvedBy&quot;:&quot;native&quot;,&quot;nativeVideo&quot;:&quot;6886287d2a22961e0319f137&quot;}"
              data-block-type="32"
              id="block-yui_3_17_2_1_1753620694981_12075"
            >
              <div class="sqs-block-content" id="yui_3_17_2_1_1759180599887_99">
                <div class="intrinsic" style="max-width:100%">
                  <div class="embed-block-wrapper " style="padding-bottom:0.5625%;">
                    <div
                      class="sqs-native-video"
                      data-config-block-id="yui_3_17_2_1_1753620694981_12075"
                      data-config-settings="{&quot;muted&quot;:true,&quot;autoPlay&quot;:true,&quot;loop&quot;:true,&quot;controls&quot;:&quot;full&quot;}"
                      data-config-thumbnail="{&quot;src&quot;:&quot;https://images.squarespace-cdn.com/content/v1/67da0c2c5d3b414ebdd380a0/4b22870d-131d-41e4-be3b-7457035d8762/whiffed+capture.png&quot;,&quot;focalPoint&quot;:{&quot;x&quot;:0.5,&quot;y&quot;:0.5,&quot;source&quot;:3}}"
                      data-config-video="{&quot;id&quot;:&quot;6886287d2a22961e0319f137&quot;,&quot;recordType&quot;:61,&quot;addedOn&quot;:1753622653019,&quot;updatedOn&quot;:1753622653019,&quot;authorId&quot;:&quot;6648171f5a1b357b3880f9cc&quot;,&quot;systemDataId&quot;:&quot;adb65d48-c3c2-44ec-bb5d-2badc172b659&quot;,&quot;systemDataVariants&quot;:&quot;1920:1080,640:360&quot;,&quot;systemDataSourceType&quot;:&quot;mp4&quot;,&quot;filename&quot;:&quot;Whiffed Aromas.mp4&quot;,&quot;body&quot;:null,&quot;likeCount&quot;:0,&quot;commentCount&quot;:0,&quot;publicCommentCount&quot;:0,&quot;commentState&quot;:1,&quot;author&quot;:{&quot;id&quot;:&quot;6648171f5a1b357b3880f9cc&quot;,&quot;displayName&quot;:&quot;gerard urbano&quot;,&quot;firstName&quot;:&quot;gerard&quot;,&quot;lastName&quot;:&quot;urbano&quot;,&quot;avatarUrl&quot;:&quot;https://images.squarespace-cdn.com/content/v2/namespaces/memberAccountAvatars/libraries/6648171f5a1b357b3880f9cc/09d8442d-84e5-4d9d-899e-06b402708b34/thirdPartyMemberAvatar-6648171f5a1b357b3880f9cc-d5a9a069-0c2c-4d00-b563-a77072e27d81?format=300w&quot;,&quot;bio&quot;:&quot;&quot;,&quot;avatarAssetUrl&quot;:&quot;https://images.squarespace-cdn.com/content/v2/namespaces/memberAccountAvatars/libraries/6648171f5a1b357b3880f9cc/09d8442d-84e5-4d9d-899e-06b402708b34/thirdPartyMemberAvatar-6648171f5a1b357b3880f9cc-d5a9a069-0c2c-4d00-b563-a77072e27d81?format=300w&quot;},&quot;contentType&quot;:&quot;video/mp4&quot;,&quot;structuredContent&quot;:{&quot;_type&quot;:&quot;SqspHostedVideo&quot;,&quot;videoCodec&quot;:&quot;h264&quot;,&quot;audioCodec&quot;:&quot;aac&quot;,&quot;alexandriaUrl&quot;:&quot;https://video.squarespace-cdn.com/content/v1/67da0c2c5d3b414ebdd380a0/adb65d48-c3c2-44ec-bb5d-2badc172b659/{variant}&quot;,&quot;alexandriaLibraryId&quot;:&quot;67da0c2c5d3b414ebdd380a0&quot;,&quot;aspectRatio&quot;:1.7777777777777777,&quot;durationSeconds&quot;:32.78275},&quot;videoCodec&quot;:&quot;h264&quot;,&quot;audioCodec&quot;:&quot;aac&quot;,&quot;alexandriaUrl&quot;:&quot;https://video.squarespace-cdn.com/content/v1/67da0c2c5d3b414ebdd380a0/adb65d48-c3c2-44ec-bb5d-2badc172b659/{variant}&quot;,&quot;alexandriaLibraryId&quot;:&quot;67da0c2c5d3b414ebdd380a0&quot;,&quot;aspectRatio&quot;:1.7777777777777777,&quot;durationSeconds&quot;:32.78275,&quot;items&quot;:[],&quot;pushedServices&quot;:{},&quot;pendingPushedServices&quot;:{},&quot;usageId&quot;:&quot;d6d7e369-efa5-300b-93f6-a0e9561b7a54&quot;,&quot;originalSize&quot;:&quot;1920:1080&quot;,&quot;recordTypeLabel&quot;:&quot;sqsp-hosted-video&quot;}"
                    >
                      <div class="native-video-player video-player video-player--medium">
                        <div class="plyr plyr--full-ui plyr--video plyr--html5 plyr--fullscreen-enabled plyr--pip-supported video-player__container--click-to-play plyr__poster-enabled plyr--playing plyr--hide-controls">
                          <button
                            type="button"
                            class="plyr__control plyr__control--overlaid plyr__control--pressed"
                            data-plyr="play"
                            aria-pressed="true"
                            aria-label="Pause"
                            tabindex="0"
                          >
                            <svg aria-hidden="true" focusable="false">
                              <use href="#video-player__icon-pause"></use>
                            </svg>
                            <span class="plyr__sr-only">Play</span>
                          </button>
                          <div class="plyr__controls" style="transform: translateY(-58px); bottom: -58px;">
                            <div
                              class="plyr__controls__item plyr__time--current plyr__time"
                              aria-label="Current time"
                              role="timer"
                            >
                              00:00
                            </div>
                            <div
                              class="plyr__controls__item plyr__time--duration plyr__time"
                              aria-label="Duration"
                              role="timer"
                            >
                              00:32
                            </div>
                            <div class="plyr__controls__item plyr__volume">
                              <button
                                type="button"
                                class="plyr__control plyr__control--pressed"
                                data-plyr="mute"
                                aria-pressed="true"
                                tabindex="0"
                              >
                                <svg class="icon--pressed" aria-hidden="true" focusable="false">
                                  <use href="#video-player__icon-muted"></use>
                                </svg>
                                <svg class="icon--not-pressed" aria-hidden="true" focusable="false">
                                  <use href="#video-player__icon-volume"></use>
                                </svg>
                                <span class="label--pressed plyr__sr-only">Unmute</span
                                ><span class="label--not-pressed plyr__sr-only">Mute</span></button
                              ><input
                                data-plyr="volume"
                                type="range"
                                min="0"
                                max="1"
                                step="0.05"
                                value="1"
                                autocomplete="off"
                                role="slider"
                                aria-label="Volume"
                                aria-valuemin="0"
                                aria-valuemax="100"
                                aria-valuenow="0"
                                id="plyr-volume-1944"
                                aria-valuetext="0.0%"
                                style="--value: 0%;"
                                tabindex="0"
                              >
                            </div>
                            <div class="plyr__controls__item plyr__menu">
                              <button
                                aria-haspopup="true"
                                aria-controls="plyr-settings-1944"
                                aria-expanded="false"
                                type="button"
                                class="plyr__control"
                                data-plyr="settings"
                                aria-pressed="false"
                                tabindex="0"
                              >
                                <svg aria-hidden="true" focusable="false">
                                  <use href="#video-player__icon-settings"></use>
                                </svg>
                                <span class="plyr__sr-only">Settings</span>
                              </button>
                              <div class="plyr__menu__container" id="plyr-settings-1944" hidden="">
                                <div>
                                  <div id="plyr-settings-1944-home">
                                    <div role="menu">
                                      <button
                                        data-plyr="settings"
                                        type="button"
                                        class="plyr__control plyr__control--forward"
                                        role="menuitem"
                                        aria-haspopup="true"
                                        tabindex="0"
                                      >
                                        <span>Speed<span class="plyr__menu__value">Normal</span></span>
                                      </button>
                                    </div>
                                  </div>
                                  <div id="plyr-settings-1944-speed" hidden="">
                                    <button type="button" class="plyr__control plyr__control--back" tabindex="0">
                                      <span aria-hidden="true">Speed</span
                                      ><span class="plyr__sr-only">Go back to previous menu</span>
                                    </button>
                                    <div role="menu">
                                      <button
                                        data-plyr="speed"
                                        type="button"
                                        role="menuitemradio"
                                        class="plyr__control"
                                        aria-checked="false"
                                        value="0.5"
                                        tabindex="0"
                                      >
                                        <span>0.5x</span></button
                                      ><button
                                        data-plyr="speed"
                                        type="button"
                                        role="menuitemradio"
                                        class="plyr__control"
                                        aria-checked="false"
                                        value="0.75"
                                        tabindex="0"
                                      >
                                        <span>0.75x</span></button
                                      ><button
                                        data-plyr="speed"
                                        type="button"
                                        role="menuitemradio"
                                        class="plyr__control"
                                        aria-checked="true"
                                        value="1"
                                        tabindex="0"
                                      >
                                        <span>Normal</span></button
                                      ><button
                                        data-plyr="speed"
                                        type="button"
                                        role="menuitemradio"
                                        class="plyr__control"
                                        aria-checked="false"
                                        value="1.25"
                                        tabindex="0"
                                      >
                                        <span>1.25x</span></button
                                      ><button
                                        data-plyr="speed"
                                        type="button"
                                        role="menuitemradio"
                                        class="plyr__control"
                                        aria-checked="false"
                                        value="1.5"
                                        tabindex="0"
                                      >
                                        <span>1.5x</span></button
                                      ><button
                                        data-plyr="speed"
                                        type="button"
                                        role="menuitemradio"
                                        class="plyr__control"
                                        aria-checked="false"
                                        value="1.75"
                                        tabindex="0"
                                      >
                                        <span>1.75x</span></button
                                      ><button
                                        data-plyr="speed"
                                        type="button"
                                        role="menuitemradio"
                                        class="plyr__control"
                                        aria-checked="false"
                                        value="2"
                                        tabindex="0"
                                      >
                                        <span>2x</span>
                                      </button>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <button
                              class="plyr__controls__item plyr__control"
                              type="button"
                              data-plyr="fullscreen"
                              aria-pressed="false"
                              tabindex="0"
                            >
                              <svg class="icon--pressed" aria-hidden="true" focusable="false">
                                <use href="#video-player__icon-exit-fullscreen"></use>
                              </svg>
                              <svg class="icon--not-pressed" aria-hidden="true" focusable="false">
                                <use href="#video-player__icon-enter-fullscreen"></use>
                              </svg>
                              <span class="label--pressed plyr__sr-only">Exit fullscreen</span
                              ><span class="label--not-pressed plyr__sr-only">Enter fullscreen</span>
                            </button>
                            <div class="plyr__controls__item plyr__progress__container">
                              <div class="plyr__progress">
                                <input
                                  data-plyr="seek"
                                  type="range"
                                  min="0"
                                  max="100"
                                  step="0.01"
                                  value="0"
                                  autocomplete="off"
                                  role="slider"
                                  aria-label="Seek"
                                  aria-valuemin="0"
                                  aria-valuemax="32.782744"
                                  aria-valuenow="0.483978"
                                  id="plyr-seek-1944"
                                  aria-valuetext="00:00 of 00:32"
                                  style="--value: 1.48%;"
                                  tabindex="0"

                                ><progress
                                  class="plyr__progress__buffer"
                                  min="0"
                                  max="100"
                                  value="100"
                                  role="progressbar"
                                  aria-hidden="true"
                                >
                                  % buffered</progress
                                ><span class="plyr__tooltip">00:00</span>
                              </div>
                            </div>
                          </div>
                          <div class="plyr__video-wrapper">
                            <video
                              playsinline=""
                              webkit-playsinline=""
                              loop=""
                              muted=""
                              autoplay=""
                              data-poster="https://images.squarespace-cdn.com/content/v1/67da0c2c5d3b414ebdd380a0/4b22870d-131d-41e4-be3b-7457035d8762/whiffed+capture.png"
                              src="blob:https://www.whiffedaromas.com/4eb09f34-4cad-4165-b612-57ca3b4b8b39"
                            ></video>
                            <div
                              class="plyr__poster video-player__thumbnail--focal-point"
                              style="background-position: 50% 50%; background-image: url(&quot;https://images.squarespace-cdn.com/content/v1/67da0c2c5d3b414ebdd380a0/4b22870d-131d-41e4-be3b-7457035d8762/whiffed+capture.png&quot;);"
                            ></div>
                          </div>
                          <div class="plyr__captions" dir="auto"></div>
                          <div class="video-player__loading-indicator video-player__plyr-loading-indicator">
                            <svg viewBox="25 25 50 50" class="loading-indicator__spinner">
                              <circle cx="50" cy="50" r="20" stroke="#fff" stroke-width="6" class="loading-indicator__path"></circle>
                            </svg>
                          </div>
                          <div class="video-player__controls-blocker" style="height: 58px;"></div>
                          <div class="video-player__navigation-indicators">
                            <div class="video-player__navigation-indicator video-player__navigation-indicator--backward">
                              <svg>
                                <use href="#video-player__icon-backward"></use>
                              </svg>
                            </div>
                            <div class="video-player__navigation-indicator video-player__navigation-indicator--forward">
                              <svg>
                                <use href="#video-player__icon-forward"></use>
                              </svg>
                            </div>
                          </div>
                        </div>
                        <div class="video-player__icons">
                          <!-- ?xml version="1.0" encoding="UTF-8"? -->

                          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <symbol id="video-player__icon-backward" viewBox="0 0 72 72">
                            <path d="M23.2519 58H31.1519V56.04H28.5919V43.64H26.4919C26.3919 44.48 26.0519 45 25.4519 45.34C24.8919 45.64 24.1319 45.84 23.0519 45.86V47.72H26.1519V56.04H23.2519V58ZM38.14 43.42C34.08 43.42 33.1 47 33.1 50.88C33.1 55.12 34.18 58.3 38.16 58.3C42.12 58.3 43.22 55.12 43.22 50.88C43.22 47 42.24 43.42 38.14 43.42ZM38.16 45.62C40.18 45.62 40.6 48 40.6 50.88C40.6 53.98 40.1 56.2 38.16 56.2C36.22 56.2 35.72 53.98 35.72 50.9C35.72 48 36.12 45.62 38.16 45.62Z" fill="white"></path>
                            <path d="M53 10L53 37L31 23.498L53 10Z" fill="white"></path>
                            <path d="M31 10L31 37L9 23.498L31 10Z" fill="white"></path>
                            </symbol>


                            <symbol id="video-player__icon-enter-fullscreen" viewBox="0 0 24 24">
                            <path fill="currentColor" d="m4,4l6,0l0,2l-4,0l0,4l-2,0l0,-6z"></path>
                            <path fill="currentColor" d="m20,4l-6,0l0,2l4,0l0,4l2,0l0,-6z"></path>
                            <path fill="currentColor" d="m10,20l-6,0l0,-6l2,0l0,4l4,0l0,2z"></path>
                            <path fill="currentColor" d="m20,20l-6,0l0,-2l4,0l0,-4l2,0l0,6z"></path>
                            <path stroke-opacity="0.15" stroke="black" d="m4,4l6,0l0,2l-4,0l0,4l-2,0l0,-6z"></path>
                            <path stroke-opacity="0.15" stroke="black" d="m20,4l-6,0l0,2l4,0l0,4l2,0l0,-6z"></path>
                            <path stroke-opacity="0.15" stroke="black" d="m10,20l-6,0l0,-6l2,0l0,4l4,0l0,2z"></path>
                            <path stroke-opacity="0.15" stroke="black" d="m20,20l-6,0l0,-2l4,0l0,-4l2,0l0,6z"></path>
                            </symbol>


                            <symbol id="video-player__icon-exit-fullscreen" viewBox="0 0 24 24">
                            <path fill="currentColor" d="m10,10l-6,0l0,-2l4,0l0,-4l2,0l0,6z"></path>
                            <path fill="currentColor" d="m14,10l6,0l0,-2l-4,0l0,-4l-2,0l0,6z"></path>
                            <path fill="currentColor" d="m4,14l6,0l0,6l-2,0l0,-4l-4,0l0,-2z"></path>
                            <path fill="currentColor" d="m14,14l6,0l0,2l-4,0l0,4l-2,0l0,-6z"></path>
                            <path stroke-opacity="0.15" stroke="black" d="m10,10l-6,0l0,-2l4,0l0,-4l2,0l0,6z"></path>
                            <path stroke-opacity="0.15" stroke="black" d="m14,10l6,0l0,-2l-4,0l0,-4l-2,0l0,6z"></path>
                            <path stroke-opacity="0.15" stroke="black" d="m4,14l6,0l0,6l-2,0l0,-4l-4,0l0,-2z"></path>
                            <path stroke-opacity="0.15" stroke="black" d="m14,14l6,0l0,2l-4,0l0,4l-2,0l0,-6z"></path>
                            </symbol>


                            <symbol id="video-player__icon-forward" viewBox="0 0 72 72">
                            <path d="M23.2519 58H31.1519V56.04H28.5919V43.64H26.4919C26.3919 44.48 26.0519 45 25.4519 45.34C24.8919 45.64 24.1319 45.84 23.0519 45.86V47.72H26.1519V56.04H23.2519V58ZM38.14 43.42C34.08 43.42 33.1 47 33.1 50.88C33.1 55.12 34.18 58.3 38.16 58.3C42.12 58.3 43.22 55.12 43.22 50.88C43.22 47 42.24 43.42 38.14 43.42ZM38.16 45.62C40.18 45.62 40.6 48 40.6 50.88C40.6 53.98 40.1 56.2 38.16 56.2C36.22 56.2 35.72 53.98 35.72 50.9C35.72 48 36.12 45.62 38.16 45.62Z" fill="white"></path>
                            <path d="M13 37V10L35 23.502L13 37Z" fill="white"></path>
                            <path d="M35 37V10L57 23.502L35 37Z" fill="white"></path>
                            </symbol>


                            <symbol id="video-player__icon-muted" viewBox="0 0 24 24">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M15 21L16 23H18.2417L7.25 1H5L7.90476 6.80952L6 8H1V16H6L14 21H15ZM8.73495 8.46989L13 17V18.1957L7 14.4457V9.55423L8.73495 8.46989ZM3 10V14H5V10H3Z" fill="currentColor"></path>
                            <path d="M11.3386 4.66339L12.1683 6.32406L13 5.80423V7.98874L15 11.9917V3H14L11.3386 4.66339Z" fill="currentColor"></path>
                            <path d="M17.9634 17.9231L17.0026 16C19.2106 15.9986 21 14.2083 21 12C21 9.79086 19.2091 8 17 8V6C20.3137 6 23 8.68629 23 12C23 14.9858 20.8191 17.4621 17.9634 17.9231Z" fill="currentColor"></path>
                            <path d="M19 12C19 10.8954 18.1046 10 17 10V14C18.1046 14 19 13.1046 19 12Z" fill="currentColor"></path>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M15 21L16 23H18.2417L7.25 1H5L7.90476 6.80952L6 8H1V16H6L14 21H15ZM8.73495 8.46989L13 17V18.1957L7 14.4457V9.55423L8.73495 8.46989ZM3 10V14H5V10H3Z" stroke="black" stroke-opacity="0.15"></path>
                            <path d="M11.3386 4.66339L12.1683 6.32406L13 5.80423V7.98874L15 11.9917V3H14L11.3386 4.66339Z" stroke="black" stroke-opacity="0.15"></path>
                            <path d="M17.9634 17.9231L17.0026 16C19.2106 15.9986 21 14.2083 21 12C21 9.79086 19.2091 8 17 8V6C20.3137 6 23 8.68629 23 12C23 14.9858 20.8191 17.4621 17.9634 17.9231Z" stroke="black" stroke-opacity="0.15"></path>
                            <path d="M19 12C19 10.8954 18.1046 10 17 10V14C18.1046 14 19 13.1046 19 12Z" stroke="black" stroke-opacity="0.15"></path>
                            </symbol>


                            <symbol id="video-player__icon-pause" viewBox="0 0 72 72">
                            <path d="M42.0469 16.042H54V57.9482H42.0469V16.042ZM18 57.9482V16.042H29.9531V57.9482H18Z"></path>
                            </symbol>


                            <symbol id="video-player__icon-replay" viewBox="0 0 72 72">
                            <path d="M19.9587 31.6466C22.5091 25.0906 29.0569 19.8821 36.4712 19.8822C45.9757 19.8823 54.1177 27.9446 54.1178 37.5288C54.1179 47.1225 46.0033 55.1756 36.4712 55.1754C31.8366 55.1754 27.2731 53.2868 23.9932 50.0069L19.8338 54.1662C24.2174 58.5498 30.2773 61.0576 36.4712 61.0576C49.238 61.0578 60.0001 50.3851 60 37.5288C59.9999 24.6779 49.2063 14.0001 36.4712 14C27.6621 13.9999 19.9161 19.3001 15.8864 26.5302V14L9.99999 19.8822L9.99999 37.533L27.6508 37.5288L33.533 31.6466H19.9587Z"></path>
                            </symbol>


                            <symbol id="video-player__icon-play" viewBox="0 0 72 72">
                            <path d="M24.2842 54.7435V17.2559L55.5238 36.0025L24.2842 54.7435Z"></path>
                            </symbol>


                            <symbol id="video-player__icon-settings" viewBox="0 0 24 24">
                            <path stroke-opacity="0.15" stroke="black" fill="currentColor" d="m16.1918,6.39334c-0.9162,-0.68607 -2.0061,-1.15284 -3.1918,-1.32245l0,-2.07089l-2,0l0,2.07089c-1.18575,0.16961 -2.27564,0.63638 -3.19181,1.32245l-1.46429,-1.46429l-1.41421,1.41421l1.4642,1.4642c-0.68637,0.91632 -1.15335,2.00648 -1.323,3.19254l-2.07089,0l0,2l2.07089,0c0.16965,1.1861 0.63661,2.2762 1.32297,3.1925l-1.46432,1.4643l1.41421,1.4142l1.46441,-1.4644c0.91618,0.6861 2.00608,1.1529 3.19184,1.3225l0,2.0709l2,0l0,-2.0709c1.1858,-0.1696 2.2758,-0.6364 3.192,-1.3226l1.4645,1.4645l1.4142,-1.4142l-1.4645,-1.4644c0.6863,-0.9163 1.1533,-2.0064 1.3229,-3.1924l2.0709,0l0,-2l-2.0709,0c-0.1696,-1.18606 -0.6366,-2.27622 -1.323,-3.19254l1.4644,-1.46443l-1.4142,-1.41421l-1.4645,1.46452zm-4.1918,10.60666c2.7614,0 5,-2.2386 5,-5c0,-2.76142 -2.2386,-5 -5,-5c-2.76142,0 -5,2.23858 -5,5c0,2.7614 2.23858,5 5,5z" clip-rule="evenodd" fill-rule="evenodd"></path>
                            </symbol>


                            <symbol id="video-player__icon-volume" viewBox="0 0 24 24">
                            <path fill="currentColor" d="m15,21l0,-18l-1,0l-8,5l-5,0l0,8l5,0l8,5l1,0zm-8,-6.5543l0,-4.89147l6,-3.75l0,12.39147l-6,-3.75zm-4,-4.4457l0,4l2,0l0,-4l-2,0z" clip-rule="evenodd" fill-rule="evenodd"></path>
                            <path fill="currentColor" d="m17,8c2.2091,0 4,1.79086 4,4c0,2.2091 -1.7909,4 -4,4l0,2c3.3137,0 6,-2.6863 6,-6c0,-3.31371 -2.6863,-6 -6,-6l0,2z"></path>
                            <path fill="currentColor" d="m19,12c0,-1.10457 -0.8954,-2 -2,-2l0,4c1.1046,0 2,-0.8954 2,-2z"></path>
                            <path stroke-opacity="0.15" stroke="black" d="m15,21l0,-18l-1,0l-8,5l-5,0l0,8l5,0l8,5l1,0zm-8,-6.5543l0,-4.89147l6,-3.75l0,12.39147l-6,-3.75zm-4,-4.4457l0,4l2,0l0,-4l-2,0z" clip-rule="evenodd" fill-rule="evenodd"></path>
                            <path stroke-opacity="0.15" stroke="black" d="m17,8c2.2091,0 4,1.79086 4,4c0,2.2091 -1.7909,4 -4,4l0,2c3.3137,0 6,-2.6863 6,-6c0,-3.31371 -2.6863,-6 -6,-6l0,2z"></path>
                            <path stroke-opacity="0.15" stroke="black" d="m19,12c0,-1.10457 -0.8954,-2 -2,-2l0,4c1.1046,0 2,-0.8954 2,-2z"></path>
                            </symbol>


                            <symbol id="video-player__icon-lock" viewBox="0 0 21 26">
                            <path d="M9.1875 15.6V20.8H11.8125V15.6H9.1875Z" fill="white"></path>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M3.9375 6.5V10.4H0V26H21V10.4H17.0625V6.5C17.0625 2.91015 14.1244 0 10.5 0C6.87563 0 3.9375 2.91015 3.9375 6.5ZM10.5 2.6C8.32538 2.6 6.5625 4.34609 6.5625 6.5V10.4H14.4375V6.5C14.4375 4.34609 12.6746 2.6 10.5 2.6ZM2.625 13V23.4H18.375V13H2.625Z" fill="white"></path>
                            </symbol>
                          </svg>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="fe-block fe-block-yui_3_17_2_1_1753620694981_12699" style="mix-blend-mode: normal;">
            <div
              class="sqs-block html-block sqs-block-html"
              data-blend-mode="NORMAL"
              data-block-type="2"
              data-border-radii="{&quot;topLeft&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;value&quot;:0.0},&quot;topRight&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;value&quot;:0.0},&quot;bottomLeft&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;value&quot;:0.0},&quot;bottomRight&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;value&quot;:0.0}}"
              data-sqsp-block="text"
              id="block-yui_3_17_2_1_1753620694981_12699"
            >
              <div class="sqs-block-content">
                <div class="sqs-html-content" data-sqsp-text-block-content="">
                  <h3
                    style="text-align: center; white-space: pre-wrap; transition-timing-function: ease; transition-duration: 0.9s; transition-delay: 0.178065s;"
                    class="preFade fadeIn"
                  >
                    Infusing air with reasons to linger
                  </h3>
                </div>
              </div>
            </div>
          </div>
          <div class="fe-block fe-block-yui_3_17_2_1_1753620694981_13168" style="mix-blend-mode: normal;">
            <div
              class="sqs-block html-block sqs-block-html"
              data-blend-mode="NORMAL"
              data-block-type="2"
              data-border-radii="{&quot;topLeft&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;value&quot;:0.0},&quot;topRight&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;value&quot;:0.0},&quot;bottomLeft&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;value&quot;:0.0},&quot;bottomRight&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;value&quot;:0.0}}"
              data-sqsp-block="text"
              id="block-yui_3_17_2_1_1753620694981_13168"
            >
              <div class="sqs-block-content">
                <div class="sqs-html-content" data-sqsp-text-block-content="">
                  <pre style="text-align:center;"><code>Crafting provocative, clean fragrances and deliver them through powerful cold-air machine diffusion technology. 

We turn spaces into a mood, and moments unforgettable.</code></pre>
                </div>
              </div>
            </div>
          </div>
          <div class="fe-block fe-block-51161b5c768ab9e55330">
            <div
              class="sqs-block button-block sqs-block-button sqs-stretched"
              data-block-type="53"
              data-sqsp-block="button"
              id="block-51161b5c768ab9e55330"
            >
              <div class="sqs-block-content" id="yui_3_17_2_1_1759180599887_606">
                <div
                  class="sqs-block-button-container sqs-block-button-container--center preFade fadeIn"
                  data-animation-role="button"
                  data-alignment="center"
                  data-button-size="large"
                  data-button-type="secondary"
                  id="yui_3_17_2_1_1759180599887_605"
                  style="transition-timing-function: ease; transition-duration: 0.9s; transition-delay: 0.181935s;"
                >
                  <a
                    href="https://www.whiffedaromas.com/about-us"
                    class="sqs-block-button-element--large sqs-button-element--secondary sqs-block-button-element"
                    data-sqsp-button=""
                    data-initialized="true"
                    tabindex="0"
                  >
                    About Us
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Whif Machine Section",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "inline_richtext",
      "id": "heading",
      "default": "Whif Scenting Machines",
      "label": "Heading"
    },
    {
      "type": "richtext",
      "id": "description",
      "default": "<p>Discover our advanced scenting machines for every space.</p>",
      "label": "Description"
    },
    {
      "type": "image_picker",
      "id": "machine_image",
      "label": "Featured machine image"
    },
    {
      "type": "collection",
      "id": "machines_collection",
      "label": "Machines collection"
    },
    {
      "type": "range",
      "id": "products_to_show",
      "min": 2,
      "max": 8,
      "step": 1,
      "default": 4,
      "label": "Number of products to show"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color scheme",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "Section padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Top padding",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Bottom padding",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "whif_machine_feature",
      "name": "Feature",
      "limit": 6,
      "settings": [
        {
          "type": "image_picker",
          "id": "feature_icon",
          "label": "Feature icon"
        },
        {
          "type": "text",
          "id": "feature_title",
          "default": "Feature Title",
          "label": "Feature title"
        },
        {
          "type": "textarea",
          "id": "feature_description",
          "default": "Feature description goes here.",
          "label": "Feature description"
        }
      ]
    },
    {
      "type": "whif_machine_spec",
      "name": "Specification",
      "limit": 8,
      "settings": [
        {
          "type": "text",
          "id": "spec_label",
          "default": "Coverage Area",
          "label": "Specification label"
        },
        {
          "type": "text",
          "id": "spec_value",
          "default": "Up to 500 sq ft",
          "label": "Specification value"
        }
      ]
    },
    {
      "type": "whif_machine_button",
      "name": "Button",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "button_label",
          "default": "Shop Machines",
          "label": "Button label"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button link"
        },
        {
          "type": "checkbox",
          "id": "button_style_secondary",
          "default": false,
          "label": "Use outline button style"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Whif Machine Section",
      "blocks": [
        {
          "type": "whif_machine_feature"
        },
        {
          "type": "whif_machine_spec"
        },
        {
          "type": "whif_machine_button"
        }
      ]
    }
  ]
}
{% endschema %}
