{{ 'section-whif-landing-page-product.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}
<section
  data-test="page-section"
  data-section-theme="white"
  class="
    page-section

      full-bleed-section
      layout-engine-section

    background-width--full-bleed


        section-height--custom



      content-width--wide

    horizontal-alignment--center
    vertical-alignment--middle




    white
  "
  data-section-id="68ab9b3dc8ef1e4b38e424d7"
  data-controller="SectionWrapperController"
  data-current-styles="
    {
    &quot;imageOverlayOpacity&quot;: 0.15,
    &quot;backgroundWidth&quot;: &quot;background-width--full-bleed&quot;,
    &quot;sectionHeight&quot;: &quot;section-height--custom&quot;,
    &quot;customSectionHeight&quot;: 0,
    &quot;horizontalAlignment&quot;: &quot;horizontal-alignment--center&quot;,
    &quot;verticalAlignment&quot;: &quot;vertical-alignment--middle&quot;,
    &quot;contentWidth&quot;: &quot;content-width--wide&quot;,
    &quot;customContentWidth&quot;: 50,
    &quot;sectionTheme&quot;: &quot;white&quot;,
    &quot;sectionAnimation&quot;: &quot;none&quot;,
    &quot;backgroundMode&quot;: &quot;image&quot;
    }
  "
  data-current-context="
    {
    &quot;video&quot;: {
    &quot;playbackSpeed&quot;: 1,
    &quot;filter&quot;: 1,
    &quot;filterStrength&quot;: 0,
    &quot;zoom&quot;: 0,
    &quot;videoSourceProvider&quot;: &quot;none&quot;
    },
    &quot;backgroundImageId&quot;: null,
    &quot;backgroundMediaEffect&quot;: {
    &quot;type&quot;: &quot;none&quot;
    },
    &quot;divider&quot;: {
    &quot;enabled&quot;: false
    },
    &quot;typeName&quot;: &quot;page&quot;
    }
  "
  data-animation="none"
  data-fluid-engine-section=""
  data-controllers-bound="SectionWrapperController,SectionWrapperController"
  id="yui_3_17_2_1_1759180599887_161"
  data-active="true"
>
  <div class="section-border">
    <div class="section-background"></div>
  </div>
  <div
    class="content-wrapper"
    style="




      padding-top: calc(0vmax / 10); padding-bottom: calc(0vmax / 10);
    "
    id="yui_3_17_2_1_1759180599887_160"
  >
    <div class="content" id="yui_3_17_2_1_1759180599887_159">
      <div data-fluid-engine="true" id="yui_3_17_2_1_1759180599887_158">
        <style>
          .fe-68ab9b3d8b82127a2c0bd52b {
            --grid-gutter: calc(var(--sqs-mobile-site-gutter, 6vw) - 11px);
            --cell-max-width: calc((var(--sqs-site-max-width, 1500px) - (11px * (8 - 1))) / 8);

            display: grid;
            position: relative;
            grid-area: 1/1/-1/-1;
            grid-template-rows: repeat(15, minmax(24px, auto));
            grid-template-columns:
              minmax(var(--grid-gutter), 1fr)
              repeat(8, minmax(0, var(--cell-max-width)))
              minmax(var(--grid-gutter), 1fr);
            row-gap: 10px;
            column-gap: 11px;
            overflow-x: hidden;
            overflow-x: clip;
          }

          @media (min-width: 768px) {
            .background-width--inset .fe-68ab9b3d8b82127a2c0bd52b {
              --inset-padding: calc(var(--sqs-site-gutter) * 2);
            }

            .fe-68ab9b3d8b82127a2c0bd52b {
              --grid-gutter: calc(var(--sqs-site-gutter, 4vw) - 11px);
              --cell-max-width: calc((var(--sqs-site-max-width, 1500px) - (11px * (24 - 1))) / 24);
              --inset-padding: 0vw;

              --row-height-scaling-factor: 0.0215;
              --container-width: min(
                var(--sqs-site-max-width, 1500px),
                calc(100vw - var(--sqs-site-gutter, 4vw) * 2 - var(--inset-padding))
              );

              grid-template-rows: repeat(
                17,
                minmax(calc(var(--container-width) * var(--row-height-scaling-factor)), auto)
              );
              grid-template-columns:
                minmax(var(--grid-gutter), 1fr)
                repeat(24, minmax(0, var(--cell-max-width)))
                minmax(var(--grid-gutter), 1fr);
            }
          }

          .fe-block-21578d6ef79e54560e03 {
            grid-area: 2/3/5/9;
            z-index: 10;

            @media (max-width: 767px) {
            }
          }

          .fe-block-21578d6ef79e54560e03 .sqs-block {
            justify-content: flex-start;
          }

          .fe-block-21578d6ef79e54560e03 .sqs-block-alignment-wrapper {
            align-items: flex-start;
          }

          @media (min-width: 768px) {
            .fe-block-21578d6ef79e54560e03 {
              grid-area: 4/20/10/26;
              z-index: 3;
            }

            .fe-block-21578d6ef79e54560e03 .sqs-block {
              justify-content: flex-end;
            }

            .fe-block-21578d6ef79e54560e03 .sqs-block-alignment-wrapper {
              align-items: flex-end;
            }
          }

          .fe-block-yui_3_17_2_1_1756667000634_11265 {
            grid-area: 5/2/11/6;
            z-index: 11;

            @media (max-width: 767px) {
            }
          }

          .fe-block-yui_3_17_2_1_1756667000634_11265 .sqs-block {
            justify-content: center;
          }

          .fe-block-yui_3_17_2_1_1756667000634_11265 .sqs-block-alignment-wrapper {
            align-items: center;
          }

          @media (min-width: 768px) {
            .fe-block-yui_3_17_2_1_1756667000634_11265 {
              grid-area: 2/2/15/11;
              z-index: 4;
            }

            .fe-block-yui_3_17_2_1_1756667000634_11265 .sqs-block {
              justify-content: center;
            }

            .fe-block-yui_3_17_2_1_1756667000634_11265 .sqs-block-alignment-wrapper {
              align-items: center;
            }
          }

          .fe-block-73338232bed0ab5da84c {
            grid-area: 5/2/7/6;
            z-index: 11;

            @media (max-width: 767px) {
            }
          }

          .fe-block-73338232bed0ab5da84c .sqs-block {
            justify-content: center;
          }

          .fe-block-73338232bed0ab5da84c .sqs-block-alignment-wrapper {
            align-items: center;
          }

          @media (min-width: 768px) {
            .fe-block-73338232bed0ab5da84c {
              grid-area: 2/2/4/11;
              z-index: 4;
            }

            .fe-block-73338232bed0ab5da84c .sqs-block {
              justify-content: flex-end;
            }

            .fe-block-73338232bed0ab5da84c .sqs-block-alignment-wrapper {
              align-items: flex-end;
            }
          }

          .fe-block-yui_3_17_2_1_1756667000634_11895 {
            grid-area: 5/6/11/10;
            z-index: 12;

            @media (max-width: 767px) {
            }
          }

          .fe-block-yui_3_17_2_1_1756667000634_11895 .sqs-block {
            justify-content: center;
          }

          .fe-block-yui_3_17_2_1_1756667000634_11895 .sqs-block-alignment-wrapper {
            align-items: center;
          }

          @media (min-width: 768px) {
            .fe-block-yui_3_17_2_1_1756667000634_11895 {
              grid-area: 2/11/15/19;
              z-index: 5;
            }

            .fe-block-yui_3_17_2_1_1756667000634_11895 .sqs-block {
              justify-content: center;
            }

            .fe-block-yui_3_17_2_1_1756667000634_11895 .sqs-block-alignment-wrapper {
              align-items: center;
            }
          }

          .fe-block-4c927738c8b9916fdfea {
            grid-area: 5/6/7/10;
            z-index: 12;

            @media (max-width: 767px) {
            }
          }

          .fe-block-4c927738c8b9916fdfea .sqs-block {
            justify-content: center;
          }

          .fe-block-4c927738c8b9916fdfea .sqs-block-alignment-wrapper {
            align-items: center;
          }

          @media (min-width: 768px) {
            .fe-block-4c927738c8b9916fdfea {
              grid-area: 2/11/4/19;
              z-index: 5;
            }

            .fe-block-4c927738c8b9916fdfea .sqs-block {
              justify-content: flex-end;
            }

            .fe-block-4c927738c8b9916fdfea .sqs-block-alignment-wrapper {
              align-items: flex-end;
            }
          }

          .fe-block-cbdbf0c71cb6fe4f1f52 {
            grid-area: 11/2/13/6;
            z-index: 4;

            @media (max-width: 767px) {
              position: sticky;
              top: calc(0px + var(--header-fixed-top-offset, 0px));
            }
          }

          .fe-block-cbdbf0c71cb6fe4f1f52 .sqs-block {
            justify-content: center;
          }

          .fe-block-cbdbf0c71cb6fe4f1f52 .sqs-block-alignment-wrapper {
            align-items: center;
          }

          @media (min-width: 768px) {
            .fe-block-cbdbf0c71cb6fe4f1f52 {
              grid-area: 15/5/17/8;
              z-index: 6;
            }

            .fe-block-cbdbf0c71cb6fe4f1f52 .sqs-block {
              justify-content: center;
            }

            .fe-block-cbdbf0c71cb6fe4f1f52 .sqs-block-alignment-wrapper {
              align-items: center;
            }
          }

          .fe-block-45e13345a273cdaf3259 {
            grid-area: 11/6/13/10;
            z-index: 5;

            @media (max-width: 767px) {
              position: sticky;
              top: calc(0px + var(--header-fixed-top-offset, 0px));
            }
          }

          .fe-block-45e13345a273cdaf3259 .sqs-block {
            justify-content: center;
          }

          .fe-block-45e13345a273cdaf3259 .sqs-block-alignment-wrapper {
            align-items: center;
          }

          @media (min-width: 768px) {
            .fe-block-45e13345a273cdaf3259 {
              grid-area: 15/14/17/17;
              z-index: 7;
            }

            .fe-block-45e13345a273cdaf3259 .sqs-block {
              justify-content: center;
            }

            .fe-block-45e13345a273cdaf3259 .sqs-block-alignment-wrapper {
              align-items: center;
            }
          }

          .fe-block-e2970d4ee462a43699d9 {
            grid-area: 13/4/15/8;
            z-index: 3;

            @media (max-width: 767px) {
              position: sticky;
              top: calc(0px + var(--header-fixed-top-offset, 0px));
            }
          }

          .fe-block-e2970d4ee462a43699d9 .sqs-block {
            justify-content: center;
          }

          .fe-block-e2970d4ee462a43699d9 .sqs-block-alignment-wrapper {
            align-items: center;
          }

          @media (min-width: 768px) {
            .fe-block-e2970d4ee462a43699d9 {
              grid-area: 11/21/13/25;
              z-index: 1;
            }

            .fe-block-e2970d4ee462a43699d9 .sqs-block {
              justify-content: center;
            }

            .fe-block-e2970d4ee462a43699d9 .sqs-block-alignment-wrapper {
              align-items: center;
            }
          }
        </style>
        <div class="fluid-engine fe-68ab9b3d8b82127a2c0bd52b" id="yui_3_17_2_1_1759180599887_157">
          <div class="fe-block fe-block-21578d6ef79e54560e03" style="mix-blend-mode: normal;">
            <div
              class="sqs-block html-block sqs-block-html"
              data-blend-mode="NORMAL"
              data-block-type="2"
              data-border-radii="{&quot;topLeft&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;value&quot;:0.0},&quot;topRight&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;value&quot;:0.0},&quot;bottomLeft&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;value&quot;:0.0},&quot;bottomRight&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;value&quot;:0.0}}"
              data-sqsp-block="text"
              id="block-21578d6ef79e54560e03"
            >
              <div class="sqs-block-content">
                <div class="sqs-html-content" data-sqsp-text-block-content="">
                  <h3
                    style="text-align: center; white-space: pre-wrap; transition-timing-function: ease; transition-duration: 0.9s; transition-delay: 0.0857143s;"
                    class="preFade"
                  >
                    save on Bundled machines and scents
                  </h3>
                </div>
              </div>
            </div>
          </div>
          <div class="fe-block fe-block-yui_3_17_2_1_1756667000634_11265" id="yui_3_17_2_1_1759180599887_156">
            <div
              class="sqs-block image-block sqs-block-image sqs-stretched sqs-text-ready"
              data-aspect-ratio="90.90881674382135"
              data-block-type="5"
              data-sqsp-block="image"
              id="block-yui_3_17_2_1_1756667000634_11265"
            >
              <div class="sqs-block-content" id="yui_3_17_2_1_1759180599887_155" style="height: 100%; width: 100%;">
                <div
                  class="image-block-outer-wrapper layout-caption-below design-layout-fluid image-position-right combination-animation-site-default individual-animation-site-default"
                  data-test="image-block-fluid-outer-wrapper"
                  id="yui_3_17_2_1_1759180599887_154"
                >
                  <div
                    class="fluid-image-animation-wrapper sqs-image sqs-block-alignment-wrapper preFade fadeIn"
                    data-animation-role="image"
                    id="yui_3_17_2_1_1759180599887_153"
                    style="transition-timing-function: ease; transition-duration: 0.9s; transition-delay: 0.089441s;"
                  >
                    <div
                      class="fluid-image-container sqs-image-content"
                      style="overflow: hidden;-webkit-mask-image: -webkit-radial-gradient(white, black);border-top-left-radius: 20px;border-top-right-radius: 20px;border-bottom-left-radius: 20px;border-bottom-right-radius: 20px;position: relative;width: 100%;height: 100%;"
                      data-sqsp-image-block-image-container=""
                      id="yui_3_17_2_1_1759180599887_152"
                    >
                      <a
                        class="sqs-block-image-link content-fill"
                        href="https://www.whiffedaromas.com/bundles/p/twosome-bundle"
                        data-sqsp-image-block-link=""
                        id="yui_3_17_2_1_1759180599887_149"
                        tabindex="0"
                      >
                        <img
                          data-stretch="true"
                          data-src="https://images.squarespace-cdn.com/content/v1/67da0c2c5d3b414ebdd380a0/7b5f09e4-adee-47da-9519-dc4b110275f6/twosome+diffusing+in+action.gif"
                          data-image="https://images.squarespace-cdn.com/content/v1/67da0c2c5d3b414ebdd380a0/7b5f09e4-adee-47da-9519-dc4b110275f6/twosome+diffusing+in+action.gif"
                          data-image-dimensions="500x889"
                          data-image-focal-point="0.5,0.5"
                          alt="A black Whiffed Aromas diffuser with a blue LED light, placed on a white surface with an abstract black, white, and yellow art piece in the background."
                          data-load="false"
                          elementtiming="system-image-block"
                          data-sqsp-image-block-image=""
                          src="./Whiffed Aromas _ Luxury Home and Commercial Scenting_files/twosome+diffusing+in+action.gif"
                          width="500"
                          height="889"
                          sizes="100vw"
                          style="display:block;object-fit: cover; object-position: 50% 50%"
                          srcset="https://images.squarespace-cdn.com/content/v1/67da0c2c5d3b414ebdd380a0/7b5f09e4-adee-47da-9519-dc4b110275f6/twosome+diffusing+in+action.gif?format=100w 100w, https://images.squarespace-cdn.com/content/v1/67da0c2c5d3b414ebdd380a0/7b5f09e4-adee-47da-9519-dc4b110275f6/twosome+diffusing+in+action.gif?format=300w 300w, https://images.squarespace-cdn.com/content/v1/67da0c2c5d3b414ebdd380a0/7b5f09e4-adee-47da-9519-dc4b110275f6/twosome+diffusing+in+action.gif?format=500w 500w, https://images.squarespace-cdn.com/content/v1/67da0c2c5d3b414ebdd380a0/7b5f09e4-adee-47da-9519-dc4b110275f6/twosome+diffusing+in+action.gif?format=750w 750w, https://images.squarespace-cdn.com/content/v1/67da0c2c5d3b414ebdd380a0/7b5f09e4-adee-47da-9519-dc4b110275f6/twosome+diffusing+in+action.gif?format=1000w 1000w, https://images.squarespace-cdn.com/content/v1/67da0c2c5d3b414ebdd380a0/7b5f09e4-adee-47da-9519-dc4b110275f6/twosome+diffusing+in+action.gif?format=1500w 1500w, https://images.squarespace-cdn.com/content/v1/67da0c2c5d3b414ebdd380a0/7b5f09e4-adee-47da-9519-dc4b110275f6/twosome+diffusing+in+action.gif?format=2500w 2500w"
                          loading="lazy"
                          decoding="async"
                          data-loader="sqs"
                        >

                        <div class="fluidImageOverlay"></div>
                      </a>
                    </div>
                  </div>
                </div>
                <style>
                  .sqs-block-image .sqs-block-content {
                    height: 100%;
                    width: 100%;
                  }

                  .fe-block-yui_3_17_2_1_1756667000634_11265 .fluidImageOverlay {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    mix-blend-mode: normal;

                    opacity: 0;
                  }
                </style>
              </div>
            </div>
          </div>
          <div class="fe-block fe-block-73338232bed0ab5da84c" style="mix-blend-mode: normal;">
            <div
              class="sqs-block html-block sqs-block-html"
              data-blend-mode="NORMAL"
              data-block-type="2"
              data-border-radii="{&quot;topLeft&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;value&quot;:0.0},&quot;topRight&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;value&quot;:0.0},&quot;bottomLeft&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;value&quot;:0.0},&quot;bottomRight&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;value&quot;:0.0}}"
              data-sqsp-block="text"
              id="block-73338232bed0ab5da84c"
            >
              <div class="sqs-block-content">
                <div class="sqs-html-content" data-sqsp-text-block-content="">
                  <h4
                    style="text-align: center; white-space: pre-wrap; transition-timing-function: ease; transition-duration: 0.9s; transition-delay: 0.0931677s;"
                    class="preFade fadeIn"
                  >
                    <span class="sqsrte-text-color--white">Room | Office</span>
                  </h4>
                </div>
              </div>
            </div>
          </div>
          <div class="fe-block fe-block-yui_3_17_2_1_1756667000634_11895" id="yui_3_17_2_1_1759180599887_172">
            <div
              class="sqs-block image-block sqs-block-image sqs-stretched sqs-text-ready"
              data-aspect-ratio="102.54456388624303"
              data-block-type="5"
              data-sqsp-block="image"
              id="block-yui_3_17_2_1_1756667000634_11895"
            >
              <div class="sqs-block-content" id="yui_3_17_2_1_1759180599887_171" style="height: 100%; width: 100%;">
                <div
                  class="image-block-outer-wrapper layout-caption-below design-layout-fluid image-position-left combination-animation-site-default individual-animation-site-default"
                  data-test="image-block-fluid-outer-wrapper"
                  id="yui_3_17_2_1_1759180599887_170"
                >
                  <div
                    class="fluid-image-animation-wrapper sqs-image sqs-block-alignment-wrapper preFade fadeIn"
                    data-animation-role="image"
                    id="yui_3_17_2_1_1759180599887_169"
                    style="transition-timing-function: ease; transition-duration: 0.9s; transition-delay: 0.0968944s;"
                  >
                    <div
                      class="fluid-image-container sqs-image-content"
                      style="overflow: hidden;-webkit-mask-image: -webkit-radial-gradient(white, black);border-top-left-radius: 20px;border-top-right-radius: 20px;border-bottom-left-radius: 20px;border-bottom-right-radius: 20px;position: relative;width: 100%;height: 100%;"
                      data-sqsp-image-block-image-container=""
                      id="yui_3_17_2_1_1759180599887_168"
                    >
                      <a
                        class="sqs-block-image-link content-fill"
                        href="https://www.whiffedaromas.com/bundles/p/mobile-one-bundle"
                        data-sqsp-image-block-link=""
                        id="yui_3_17_2_1_1759180599887_165"
                        tabindex="0"
                      >
                        <img
                          data-stretch="true"
                          data-src="https://images.squarespace-cdn.com/content/v1/67da0c2c5d3b414ebdd380a0/f04dcb65-382a-4d72-ad46-446212630b90/mobile+one+gif.gif"
                          data-image="https://images.squarespace-cdn.com/content/v1/67da0c2c5d3b414ebdd380a0/f04dcb65-382a-4d72-ad46-446212630b90/mobile+one+gif.gif"
                          data-image-dimensions="978x1742"
                          data-image-focal-point="1.0,0.38404800600075006"
                          alt="A black cylindrical aroma diffuser with the brand name 'whiffed. AROMAS' printed on it, placed on a car seat inside a vehicle with beige leather interior. Green blurred trees are visible outside the window."
                          data-load="false"
                          elementtiming="system-image-block"
                          data-sqsp-image-block-image=""
                          src="./Whiffed Aromas _ Luxury Home and Commercial Scenting_files/mobile+one+gif.gif"
                          width="978"
                          height="1742"
                          sizes="100vw"
                          style="display:block;object-fit: cover; object-position: 100% 38.404800600075006%"
                          srcset="https://images.squarespace-cdn.com/content/v1/67da0c2c5d3b414ebdd380a0/f04dcb65-382a-4d72-ad46-446212630b90/mobile+one+gif.gif?format=100w 100w, https://images.squarespace-cdn.com/content/v1/67da0c2c5d3b414ebdd380a0/f04dcb65-382a-4d72-ad46-446212630b90/mobile+one+gif.gif?format=300w 300w, https://images.squarespace-cdn.com/content/v1/67da0c2c5d3b414ebdd380a0/f04dcb65-382a-4d72-ad46-446212630b90/mobile+one+gif.gif?format=500w 500w, https://images.squarespace-cdn.com/content/v1/67da0c2c5d3b414ebdd380a0/f04dcb65-382a-4d72-ad46-446212630b90/mobile+one+gif.gif?format=750w 750w, https://images.squarespace-cdn.com/content/v1/67da0c2c5d3b414ebdd380a0/f04dcb65-382a-4d72-ad46-446212630b90/mobile+one+gif.gif?format=1000w 1000w, https://images.squarespace-cdn.com/content/v1/67da0c2c5d3b414ebdd380a0/f04dcb65-382a-4d72-ad46-446212630b90/mobile+one+gif.gif?format=1500w 1500w, https://images.squarespace-cdn.com/content/v1/67da0c2c5d3b414ebdd380a0/f04dcb65-382a-4d72-ad46-446212630b90/mobile+one+gif.gif?format=2500w 2500w"
                          loading="lazy"
                          decoding="async"
                          data-loader="sqs"
                        >

                        <div class="fluidImageOverlay"></div>
                      </a>
                    </div>
                  </div>
                </div>
                <style>
                  .sqs-block-image .sqs-block-content {
                    height: 100%;
                    width: 100%;
                  }

                  .fe-block-yui_3_17_2_1_1756667000634_11895 .fluidImageOverlay {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    mix-blend-mode: normal;

                    opacity: 0;
                  }
                </style>
              </div>
            </div>
          </div>
          <div class="fe-block fe-block-4c927738c8b9916fdfea" style="mix-blend-mode: normal;">
            <div
              class="sqs-block html-block sqs-block-html"
              data-blend-mode="NORMAL"
              data-block-type="2"
              data-border-radii="{&quot;topLeft&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;value&quot;:0.0},&quot;topRight&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;value&quot;:0.0},&quot;bottomLeft&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;value&quot;:0.0},&quot;bottomRight&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;value&quot;:0.0}}"
              data-sqsp-block="text"
              id="block-4c927738c8b9916fdfea"
            >
              <div class="sqs-block-content">
                <div class="sqs-html-content" data-sqsp-text-block-content="">
                  <h4
                    style="text-align: center; white-space: pre-wrap; transition-timing-function: ease; transition-duration: 0.9s; transition-delay: 0.100621s;"
                    class="preFade fadeIn"
                  >
                    <span class="sqsrte-text-color--white">car | Mobile</span>
                  </h4>
                </div>
              </div>
            </div>
          </div>
          <div
            class="fe-block fe-block-cbdbf0c71cb6fe4f1f52 sqs-position-sticky"
            style="--sticky-original-position: 0px; --block-height: 70px; bottom: calc(var(--sticky-original-position) - 75px);"
          >
            <div
              class="sqs-block button-block sqs-block-button sqs-stretched"
              data-block-type="53"
              data-sqsp-block="button"
              id="block-cbdbf0c71cb6fe4f1f52"
            >
              <div class="sqs-block-content" id="yui_3_17_2_1_1759180599887_564">
                <div
                  class="sqs-block-button-container sqs-block-button-container--center preFade"
                  data-animation-role="button"
                  data-alignment="center"
                  data-button-size="large"
                  data-button-type="secondary"
                  id="yui_3_17_2_1_1759180599887_563"
                  style="transition-timing-function: ease; transition-duration: 0.9s; transition-delay: 0.104348s;"
                >
                  <a
                    href="https://www.whiffedaromas.com/bundles/p/twosome-bundle"
                    class="sqs-block-button-element--large sqs-button-element--secondary sqs-block-button-element"
                    data-sqsp-button=""
                    data-initialized="true"
                    tabindex="0"
                  >
                    Two scent bundle $224.99
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div
            class="fe-block fe-block-45e13345a273cdaf3259 sqs-position-sticky"
            style="--sticky-original-position: 0px; --block-height: 70px; bottom: calc(var(--sticky-original-position) - 75px);"
          >
            <div
              class="sqs-block button-block sqs-block-button sqs-stretched"
              data-block-type="53"
              data-sqsp-block="button"
              id="block-45e13345a273cdaf3259"
            >
              <div class="sqs-block-content" id="yui_3_17_2_1_1759180599887_571">
                <div
                  class="sqs-block-button-container sqs-block-button-container--center preFade"
                  data-animation-role="button"
                  data-alignment="center"
                  data-button-size="large"
                  data-button-type="secondary"
                  id="yui_3_17_2_1_1759180599887_570"
                  style="transition-timing-function: ease; transition-duration: 0.9s; transition-delay: 0.108075s;"
                >
                  <a
                    href="https://www.whiffedaromas.com/bundles/p/mobile-one-bundle"
                    class="sqs-block-button-element--large sqs-button-element--secondary sqs-block-button-element"
                    data-sqsp-button=""
                    data-initialized="true"
                    tabindex="0"
                  >
                    two scent bundle $89.99
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div
            class="fe-block fe-block-e2970d4ee462a43699d9 sqs-position-sticky"
            style="--sticky-original-position: 0px; --block-height: 70px; bottom: calc(var(--sticky-original-position) - 75px);"
          >
            <div
              class="sqs-block button-block sqs-block-button sqs-stretched"
              data-block-type="53"
              data-sqsp-block="button"
              id="block-e2970d4ee462a43699d9"
            >
              <div class="sqs-block-content" id="yui_3_17_2_1_1759180599887_578">
                <div
                  class="sqs-block-button-container sqs-block-button-container--center preFade"
                  data-animation-role="button"
                  data-alignment="center"
                  data-button-size="large"
                  data-button-type="secondary"
                  id="yui_3_17_2_1_1759180599887_577"
                  style="transition-timing-function: ease; transition-duration: 0.9s; transition-delay: 0.111801s;"
                >
                  <a
                    href="https://www.whiffedaromas.com/bundles"
                    class="sqs-block-button-element--large sqs-button-element--secondary sqs-block-button-element"
                    data-sqsp-button=""
                    data-initialized="true"
                    tabindex="0"
                  >
                    SHOP ALL BUNDLES
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Whif Landing Product",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "inline_richtext",
      "id": "heading",
      "default": "Featured Products",
      "label": "Heading"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "Description"
    },
    {
      "type": "product",
      "id": "featured_product",
      "label": "Featured product"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "Product collection"
    },
    {
      "type": "range",
      "id": "products_to_show",
      "min": 2,
      "max": 12,
      "step": 1,
      "default": 6,
      "label": "Number of products to show"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color scheme",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "Section padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Top padding",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Bottom padding",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "button",
      "name": "Button",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "button_label",
          "default": "View All Products",
          "label": "Button label"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button link"
        },
        {
          "type": "checkbox",
          "id": "button_style_secondary",
          "default": false,
          "label": "Use outline button style"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Whif Landing Product",
      "blocks": [
        {
          "type": "button"
        }
      ]
    }
  ]
}
{% endschema %}
